.section--about {

}

.about {
	display: flex;
	max-height: 100%;
	height: 100%;

	@include r($xs-breakpoint) {
		display: block;
		max-height: none;
	}

	&__column:first-child {
		width: percentage(416/740);

		@include r($xs-breakpoint) {
			width: 100%;
			margin-bottom: rem(30px);
		}
	}

	&__column:last-child {
		width: percentage(308/740);
		margin-left: auto;
		margin-top: rem(-16px);
		margin-bottom: rem(-16px);

		@include r($xs-breakpoint) {
			width: 100%;
		}

		.aboutItem {
			height: calc(33.33% - 1.3125rem);
			margin: rem(16px) 0;

			@include r($xs-breakpoint) {
				height: auto;
				min-height: rem(160px);
				margin: rem(13px) 0;
			}
		}
	}
}

.aboutItem:not(.aboutItem--lg) {
	position: relative;
	padding: rem(20px) rem(20px) rem(25px) rem(20px);

	@include r($xs-breakpoint) {
		padding: rem(25px) rem(22px) rem(33px) rem(23px);
	}

	&:hover {
		border: 2px solid $secondary-color;
		background: 0 !important;
		color: #fff;

		.aboutItem__bg {
			opacity: 0;
			visibility: hidden;
		}
	}

	a {
		color: #fff;
	}

	.aboutItem {


		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@include cover();
			transition: .3s all;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #454545;
				opacity: .7;
			}
		}

		&__head {
			position: relative;
			color: #fff;
			max-width: rem(210px);

			@include r($xs-breakpoint) {
				max-width: rem(190px);
			}
		}

		&__title {
			line-height: rem(26px);
			font-size: rem(20px);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: 900;
			font-family: $font-title;
		}

		&__subtitle {
			line-height: rem(20px);
			font-size: rem(16px);
			margin-top: rem(15px);

			@include r($xs-breakpoint) {
				margin-top: rem(9px);
			}
		}

		&__bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: right;
			transition: .3s all;
			z-index: 2;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(76px);
				height: rem(56px);
				margin-left: auto;

				&:hover {
					background-color: $secondary-color;

					svg {
						fill:#fff;
					}
				}
			}

			svg {
				fill: #fff;
				width: rem(32px);
				height: rem(12px);
			}
		}
	}
}


.aboutItem--lg {
	padding: rem(32px) rem(30px) rem(35px);
	height: 100%;

	@include r($xs-breakpoint) {
		padding: rem(44px) rem(20px) rem(37px) rem(26px);
	}

	.aboutItem {

		&__head {
			font-family: $font-title;
		}

		&__title {
			font-size: rem(32px);
			font-weight: 900;
			letter-spacing: 0.1em;

			@include r($xs-breakpoint) {
				line-height: rem(31px);
				font-size: rem(24px);
				letter-spacing: 0.1em;
			}
		}

		&__subtitle {
			line-height: rem(19px);
			font-size: rem(12px);
			margin-top: rem(17px);
			padding-right: rem(20px);
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.1em;

			@include r($xs-breakpoint) {
				margin-top: rem(15px);
				padding-right: 0;
			}
		}

		&__bottom {
			margin-top: auto;
			text-align: right;
			padding-top: rem(15px);
			position: absolute;
			bottom: -2px;
			right: -2px;
			z-index: 2;

			@include r($xs-breakpoint) {
				margin-right: 0;
			}

			a {
				width: rem(76px);
				height: rem(56px);
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;

				&:hover {
					background-color: $secondary-color;

					svg {
						fill: #fff;
					}
				}
			}

			svg {
				width: rem(32px);
				height: rem(12px);
				fill: $black;
				transition: .3s all;
			}
		}
	}
}

.aboutItem{
	position: relative;
	border: 2px solid transparent;
	transition: .3s all;

	&:hover {

		.aboutItem__bottom {
			opacity: 1;
			visibility: visible;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	&__bottom {
		opacity: 0;
		transition: .3s all;
	}
}

.aboutList {
	margin-top: rem(29px);

	@include r($xs-breakpoint) {
		margin-top: rem(28px);
	}

	&__item {
		position: relative;
		padding-left: rem(62px);
		line-height: rem(18px);
		font-size: rem(14px);

		@include r($xs-breakpoint) {
			padding-left: rem(62px);
		}

		&:not(:first-child) {
			margin-top: rem(27px);

			@include r($xs-breakpoint) {
				margin-top: 22px;
			}
		}

		&:nth-child(1) {

			.aboutList__icon img {
				width: rem(41px);
				height: rem(34px);
			}
		}

		&:nth-child(2) {

			.aboutList__icon img {
				width: rem(46px);
				height: rem(28px);
			}
		}

		&:nth-child(3) {

			.aboutList__icon img {
				width: rem(36px);
				height: rem(34px);
			}
		}

		&:nth-child(4) {

			.aboutList__icon img {
				width: rem(30px);
				height: rem(36px);
			}
		}
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		min-width: 40px;
		text-align: center;

		@include r($xs-breakpoint) {
			transform: translateY(0%);
			margin-top: rem(8px);
			min-width: rem(47px);
		}
	}

	&__title {
	}
}

.aboutPopup {
	height: 100%;
	padding-right: 16px;

	&__content {
		height: 100%;
	}

	article {
		padding: rem(43px) rem(75px) rem(43px) rem(44px);

		@include r($xs-breakpoint) {
			padding: 40px 0;
		}
	}
}

.aboutPopup-box {
	border: 6px solid #FF9E0C;
	margin: rem(44px) 0;
	position: relative;
	padding: rem(35px) rem(24px) rem(45px) rem(40px);
	line-height: rem(25px);
	font-size: rem(20px);
	font-weight: 700;

	&__left {
		line-height: rem(61px);
		font-size: rem(55px);
		letter-spacing: 0.1em;
		font-weight: 700;
		text-transform: uppercase;
		color: #FF9E0C;
		position: absolute;
		top: rem(30px);
		left: rem(40px);
	}

	&__right {
		padding-left: rem(95px);
	}
}

article {
	line-height: rem(24px);
	font-size: rem(16px);

	h2 {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
	}

	h4 {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		margin: rem(25px) 0;
	}

	h3 {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		font-family: $font-title;
		text-transform: uppercase;
		margin: rem(52px) 0 rem(5px);
	}

	p {
		line-height: rem(25px);
		font-size: rem(18px);
		padding-right: rem(20px);

		strong {
			font-weight: 900;
			line-height: rem(25px);
			font-size: rem(18px);
			color: #1F1F1F;
			font-family: $font-title;
		}
	}

	> ul:not(.list-numbers, .programList) {
		font-size: rem(18px);
		line-height: rem(25px);
		margin: rem(25px) 0;

		li {
			position: relative;
			padding-left: rem(32px);

			&:before {
				content: '';
				position: absolute;
				top: rem(11px);
				left: rem(5px);
				width: rem(16px);
				height: rem(5px);
				background-color: $orange;
			}

			&:not(:first-child) {
				margin-top: rem(14px);
			}
		}
	}

	table {
		line-height: rem(20px);
		font-size: rem(14px);
		//width: rem(662px);
		margin: rem(40px) 0;
		position: relative;
		left: rem(-20px);

		thead {
			background-color: $orange;
			text-align: left;

			th {
				font-weight: normal;
				padding: rem(15px) rem(22px) rem(14px);
				vertical-align: middle;
			}
		}

		tbody {

			td {
				padding: rem(9px) rem(22px) rem(8px);
			}

			td:first-child {
				white-space: nowrap;
			}

			tr:first-child {

				td {
					padding-top: 11px;
				}
			}

			tr:nth-child(even) {
				background-color: #D9D9D9;
			}
		}
	}

	blockquote {
		border: 6px solid #FF9E0C;
		padding: rem(40px) rem(70px) rem(40px) rem(90px);
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $font-title;
		margin: rem(45px) 0;
	}
}


.aboutPopup-links {
	border: 4px solid #FF9E0C;
	margin: rem(52px) 0 rem(45px);
	padding: rem(9px);

	a {
		font-weight: 900;
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		color: #1F1F1F;
		height: rem(50px);
		display: flex;
		align-items: center;
		padding: 0 rem(15px);
		line-height: 1;

		&:hover {
			background: #FF9E0C;
			color: #fff;
		}
	}
}

.list-numbers {
	margin: rem(50px) 0;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	li {
		display: flex;
		align-items: center;
	}

	span:first-child {
		font-weight: 900;
		line-height: rem(52px);
		font-size: rem(50px);
		letter-spacing: 0.1em;
		font-family: $font-title;
	}

	span:last-child {
		line-height: rem(20px);
		font-size: rem(14px);
		font-weight: 700;
		margin-left: rem(10px);
	}
}

.article-list-column {
	display: flex;
	flex-flow: wrap;
	margin: rem(35px) rem(-35px);

	&__item {
		width: 50%;
		padding: 0 rem(35px);

		&:not(:nth-child(-n+2)) {
			margin-top: rem(40px);
		}
	}

	&__icon {
		//width: rem(50px);
		margin-bottom: rem(16px);
		min-height: 65px;

		img {
			//width: 100%;
		}
	}
}

.article-list-row {
	margin: rem(45px) 0 0;
	max-width: rem(500px);

	&__item {
		margin-bottom: rem(36px);
		display: flex;
		align-items: center;
	}


	&__icon {
		min-width: rem(50px);
		height: rem(50px);
		margin-right: rem(40px);
	}
}


article .form {
	display: flex;
	align-items: flex-end;
	margin: rem(64px) 0;

	.form__left {
		width: percentage(346/621);
	}

	.form__right {
		width: percentage(240/621);
		margin-left: auto;
	}

	.form__field {
		display: flex;
		align-items: flex-end;

		&:not(:first-child) {
			margin-top: rem(33px);
		}
	}

	label {
		line-height: 1;
		font-size: rem(14px);
		display: block;
		margin-right: rem(10px);
		min-width: rem(90px);
	}

	.input {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid #C4C4C4;
		width: rem(247px);
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding-left: rem(10px);
		padding-bottom: rem(5px);
	}

	input[name="phone"] {
		line-height: rem(26px);
		font-size: rem(20px);
	}
}
