.fp-viewing-banner {

	@include r($xs-breakpoint) {

		.header {
			margin-top: rem(57px);
		}

		&.is-show-gallery .header {
			margin-top: 0;
		}

		.footer .btn-scrollDown {
			opacity: 1;
			visibility: visible;
		}
	}

	.footer__center {
		opacity: 1;
		visibility: visible;
	}

	.footer__right {
		@include r($xs-breakpoint) {
			position: relative;
			left: 0;
			right: 0;
			width: 100%;
		}
	}

	.nav .menu a {
		color: #fff;

		&:hover {
			color: #8C8C8C;
		}
	}

	.nav .menu li:not(.active) {

		@include r($xs-breakpoint) {
			a {
				color: #8C8C8C;
			}
		}
	}

}

.page-content .section.section--banner .banner__title {

	@include r($xs-breakpoint) {
		padding-top: rem(147px);
	}
}

.section--banner {
	font-family: $font-second;
	font-weight: 900;
	text-transform: uppercase;
	color: #FFFFFF;

	@include r($xs-breakpoint) {
		min-height: calc(100vh - 32px);
	}

	.section__inner {
		height: 100%;
		display: flex;
		align-items: center;

		@include r($xs-breakpoint) {
			display: block;
			padding-top: rem(136px);
		}
	}

	.banner__title {
		line-height: rem(69px);
		font-size: rem(65px);
		letter-spacing: 0.05em;

		@include r($xs-breakpoint) {
			line-height: rem(52px);
			font-size: rem(50px);
			letter-spacing: 0.1em;
			margin-bottom: rem(18px);
			overflow: hidden;

			span {
				display: inline-block;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 100%;
					margin-left: rem(14px);
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					height: rem(6px);
					background-color: #fff;
				}
			}

		}
	}

	.banner__arrow {
		text-align: center;
		margin-top: rem(65px);
	}

	.banner__slogan {
		line-height: rem(40px);
		font-size: rem(38px);
		letter-spacing: 0.1em;
		position: relative;
		padding-left: rem(128px);
		margin-left: rem(48px);

		@include r($xs-breakpoint) {
			margin-left: 0;
			padding-left: 0;
			max-width: rem(320px);
			line-height: rem(31px);
			font-size: rem(24px);
			letter-spacing: 0.12em;

			br {
				display: none;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: rem(78px);
			height: rem(6px);
			background-color: #fff;

			@include r($xs-breakpoint) {
				content: none;
			}
		}

		span {
			color: $orange;
		}
	}
}
