.page-content .section--contacts {
	display: flex;
	align-items: center;

	@include r($xs-breakpoint) {
		display: block;
		//padding-bottom: rem(64px) !important;
	}

	.section__inner {
		height: auto !important;
	}

}

.contacts {
	border: 2px solid #A5A5A5;
	height: 100%;
	padding: rem(40px);
	display: flex;
	width: 100%;

	@include r($xs-breakpoint) {
		display: block;
		padding: 13px;
	}

	&__left {
		padding:0 rem(27px);
		max-width: rem(266px);

		@include r($xs-breakpoint) {
			width: 100%;
			padding: 0;
			margin-bottom: 50px;
		}
	}

	&__right {
		width: rem(329px);
		background-color: #fff;
		margin-left: auto;

		@include r($xs-breakpoint) {
			width: 100%;
		}

		#contactsMap {
			height: 100%;

			@include r($xs-breakpoint) {
				height: rem(432px);
			}
		}
	}

	&__title {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		color: #FFFFFF;
	}
}

.contactsTabs {
	margin-top: rem(26px);
}


.contactsTabs__list {
	max-width: rem(196px);
	text-align: center;

	a {
		display: block;
		color: #fff;
		border: 2px solid #EFAE05;
		font-size: rem(18px);
		padding: rem(11px) 0;

		&.is-active {
			background-color: $orange;
			color: $black;
		}
	}
}

.contactsTabs__con {
	display: none;

	&.is-active {
		display: block;
	}
}

.contactsTabs__box {
	margin-top: rem(25px);

	.address {
		line-height: rem(25px);
		font-size: rem(18px);
		color: #fff;
	}

	.phone {
		margin-top: rem(20px);

		a {
			display: block;

			&:not(:first-child) {
				margin-top: rem(20px);
			}
		}
	}
	
	.info {
		color: #fff;
		margin-top: rem(20px);
		padding: 0 rem(5px);
		line-height: rem(25px);
		font-size: rem(18px);

		a {
			color: $orange;
		}

		p:not(:first-child) {
			margin-top: rem(8px);
		}
	}
}


