.programs {
	display: flex;

	@include r($xs-breakpoint) {
		display: block;
	}

	&__left {
		width: percentage(378/740);
		background-color: #E8E8E8;
		padding: rem(34px) rem(36px) rem(43px);

		@include r($xs-breakpoint) {
			width: 100%;
			padding: rem(27px);
		}
	}

	&__right {
		width: percentage(362/740);
		background-color: #DBDBDB;

		@include r($xs-breakpoint) {
			width: 100%;
			background-color: #E8E8E8;
		}
	}

	&__title {

		@include r($xs-breakpoint) {
			line-height: rem(31px);
			font-size: rem(24px);
			letter-spacing: 0.1em;
		}
	}

	&__subtitle {
		line-height: rem(20px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 900;
		margin-top: rem(13px);
		padding-right: rem(40px);

		@include r($xs-breakpoint) {
			margin-top: rem(29px);
			line-height: rem(19px);
			padding-right: 5px;

			br {
				display: none;
			}
		}
	}
}

.programsList {
	height: 100%;

	&__item {
		position: relative;
		height: 33.33%;
		font-family: $font-title;
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding: 0 rem(125px);
		display: flex;
		align-items: center;
		transition: .3s all;

		@include r($xs-breakpoint) {
			padding: rem(21px) rem(135px);
		}

		&:nth-child(even) {
			background-color: #BBBBBB;
		}

		&:hover {
			background-color: #FF9E0C;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: rem(32px);
		transform: translateY(-50%);
		min-width: rem(62px);
		text-align: left;
		margin-top: rem(-3px);
	}
}

.finance {
	//height: rem(248px);
	//@include clr();
	margin: rem(16px) rem(-8px) 0;
	position: relative;
	display: flex;
	flex-flow: column;

	@include r($xs-breakpoint) {
		margin: 16px 0;
		height: auto;
	}

	&__item {
		width: calc(50% - .5rem - .5rem);
		margin: 0 rem(8px) rem(4px);
		padding: rem(26px) rem(95px) rem(22px) rem(36px);
		position: relative;
		//float: left;

		@include r($xs-breakpoint) {
			width: 100%;
			margin: 0 0 4px!important;
			padding: rem(23px);

			&:not(:first-child) {
				margin-top: 16px;
			}
		}

		&:hover {

			.finance__bottom {
				opacity: 1;
			}
		}

		&.finance__item--lg {
			color: #fff;
			display: flex;
			align-items: center;
			padding: rem(36px) rem(95px) rem(36px) rem(38px);
			border: 1px solid #A5A5A5;
			height: 100%;
			float: right;
			position: absolute;
			top: 0;
			right: 0;

			@include r($xs-breakpoint) {
				order: 3;
				padding: rem(32px) rem(24px);
				position: relative;
			}

			&:hover {
				border-color: $secondary-color;

				.finance__bg {
					opacity: 0;
					visibility: hidden;
				}
			}

			> div:not(.finance__bg) {
				position: relative;
			}

			div.finance__bottom {
				position: absolute;
			}

			.finance__subtitle {
				display: none;
			}
		}
	}

	&__item:first-child {
		background-color: #3A3A3A;
		color: #fff;
	}

	&__item.finance__item--orange {
		background-color: $primary-color;
		padding: rem(35px) rem(95px) rem(34px) rem(36px);

		&:hover {
			background-color: $secondary-color;
		}
	}


	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: right;
		transition: .3s all;
		z-index: 2;
		opacity: 0;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem(76px);
			height: rem(56px);
			margin-left: auto;

			&:hover {
				background-color: $secondary-color;

				svg {
					fill:#fff;
				}
			}
		}

		svg {
			fill: #fff;
			width: rem(32px);
			height: rem(12px);
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .3s all;
		@include cover();
	}

	&__title {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
	}

	&__subtitle {
		margin-top: rem(7px);
		line-height: rem(22px);
		font-size: rem(16px);

		@include r($xs-breakpoint) {
			max-width: rem(169px);
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
}

.financeBox {
	margin-top: rem(30px);
	margin-bottom: rem(55px);
	margin-right: rem(-20px);
	padding: rem(20px) rem(35px) rem(15px);
	border: 6px solid #FF9E0C;

	&.financeBox--columns {
		display: flex;
	}

	&__col {
		padding-top: rem(8px);

		&:first-child {
			width: 52.5%;
		}

		&:last-child {
			width: 47.5%;
			padding-left: rem(48px);
		}
	}

	&__col:not(:first-child) {
		border-left: 1px solid #C4C4C4;
	}

	&-list {

		&__item {
			position: relative;
			font-size: rem(20px);
			letter-spacing: 0.1em;
			font-family: $font-title;
			text-transform: uppercase;
			padding-left: rem(55px);

			&:not(:first-child) {
				margin-top: 34px;
			}
		}

		&__icon {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	&-info {
		line-height: rem(20px);
		font-size: rem(14px);
		margin-top: rem(-5px);
		padding-right: rem(20px);

		&__subtitle {
			font-weight: 900;
			line-height: rem(52px);
			font-size: rem(50px);
			letter-spacing: 0.1em;
			font-family: $font-title;
			margin-top: rem(12px);
		}
	}
}

.payment {
	display: flex;
	flex-flow: wrap;
	margin: rem(32px) rem(-23px) 0;

	&__item {
		width: 50%;
		padding: 0 rem(23px);

		&:not(:nth-child(-n+2)) {
			margin-top: rem(70px);
		}
	}

	&__title {
		font-family: $font-title;
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: rem(15px);
		line-height: rem(20px);
		font-size: rem(14px);
	}

	&__description {
		line-height: rem(20px);
		font-size: rem(14px);
		border-left: 6px solid #fff;
		margin-top: rem(20px);
		padding-left: rem(17px);
		padding-top: rem(3px);
		padding-right: rem(20px);
		padding-bottom: rem(3px);
		min-height: rem(92px);
		display: flex;
		align-items: center;
	}
}

.conditions {
	margin-top: rem(55px);
	background-color: #fff;
	padding: rem(28px) rem(34px);
	display: flex;

	line-height: rem(20px);
	font-size: rem(14px);

	&__title {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		color: #FF9E0C;
	}

	&__subtitle {
		max-width: rem(320px);
	}
}

.programBox {
	border: 6px solid #FF9E0C;
	font-weight: 900;
	line-height: rem(26px);
	font-size: rem(20px);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: rem(37px);
	padding: rem(32px) rem(15px) rem(30px) rem(145px);
	position: relative;
	font-family: $font-title;
	display: flex;
	align-items: center;

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: rem(45px);
	}
}

.programList {
	margin-top: rem(55px);
	margin-bottom: rem(80px);
	line-height: rem(26px);
	font-size: rem(18px);

	&__item {
		padding-left: rem(95px);
		position: relative;

		&:not(:first-child) {
			margin-top: rem(30px);
		}
	}

	&__icon {
		position: absolute;
		top: rem(5px);
		left: 0;
	}
}
