.section--location {
	position: relative;
}

.location {
	display: flex;
	width: 100%;
	height: 100%;

	@include r($xs-breakpoint) {
		display: flex;
		flex-flow: column-reverse;
	}

	&__left {
		width: percentage(308/740);
		padding-bottom: rem(29px);
		background-color: $gray-light;

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	&__right {
		width: percentage(432/740);
		position: relative;

		.btn {
			position: absolute;
			bottom: rem(16px);
			right: rem(16px);
			height: rem(48px);
			line-height: rem(48px);
			padding: 0 rem(50px);
		}
		@include r($xs-breakpoint) {
			width: 100%;
		}

		#locationMap {
			background-color: rgba($black, .3);
			height: 100%;
			min-height: 465px;

			@include r($xs-breakpoint) {
				min-height: rem(250px);
			}
		}
	}

	&__title {
		padding: rem(35px) rem(40px) rem(27px);

		@include r($xs-breakpoint) {
			padding: rem(24px) rem(29px);
		}
	}

	&__text {
		padding: 0 rem(40px);
		font-weight: 900;
		font-family: $font-title;
		line-height: rem(20px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

}

.locationNav {
	margin-top: rem(13px);

	@include r($xs-breakpoint) {
		margin-top: rem(5px);
	}

	.locationObjects {

		&__item:not(:first-child) {
		}

		&__item.is-active a{
			background-color: #EFAE05;
			color: $black;
			pointer-events: none;

			span {
				color: $black;
			}
		}

		a {
			padding: rem(10px) rem(20px) rem(10px) rem(40px);
			font-size: rem(14px);
			display: flex;
			justify-content: space-between;

			&:hover {
				background-color: #E0E0E0;
				color: $black;

				span {
					color: $black;
				}
			}

			span {
				color: #6F6F6F;
				transition: .3s all;
			}
		}
	}
}

#locationModal {
	background-color: #e7e7e7;

	@include rmin($xs-breakpoint) {
		background-color: #fff;
	}
}


.locationModal {
	height: 100%;
	background-color: $gray;
	padding: rem(50px);

	@include r($xs-breakpoint) {
		padding: 0;
	}

	.locationBox {
		height: 100%;
		max-width: rem(308px);
		position: relative;
		z-index: 2;

		@include r($xs-breakpoint) {
			max-width: 100%;
			height: 50vh;
		}
	}

	#locationMap2 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		@include r($xs-breakpoint) {
			position: relative;
			height: 50vh;
		}
	}
}
