.section.section--plans {
	overflow: visible;
	display: flex;
	align-items: center;

	@include r($xs-breakpoint) {
		display: block;
	}

	.section__inner {
		background-color: rgba(#0B0B0B, .7);
		height: auto !important;

		@include r($xs-breakpoint) {
			background-color: transparent;
		}
	}

	.section__head {

		@include r($xs-breakpoint) {
			margin-bottom: rem(12px);
		}
	}

	.swiper-pagination {
		bottom: 0;
		min-height: rem(8px);
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		left: 0;
		right: 10px;

		&-bullet {
			opacity: 1;
			width: rem(4px);
			height: rem(4px);
			background-color: #a5a5a5;
			margin: 0 rem(3px);

			&-active {
				width: rem(8px);
				height: rem(8px);
				background-color: $primary-color;
			}
		}
	}
}

.plans {
	height: 100%;
	padding: rem(43px) rem(44px);
	position: relative;
	width: 100%;

	@include r($xs-breakpoint) {
		padding: 0;
	}

	.btn-zoom {
		position: absolute;
		bottom: 28px;
		right: 28px;

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	.plans__title {
		margin-bottom: rem(27px);
	}

	.plans__bottom {
		display: flex;
		margin-top: rem(25px);

		@include r($xs-breakpoint) {
			padding: 0 rem(15px);
		}

		.btn {

			@include r($xs-breakpoint) {
				width: 100%;
			}
		}
	}
}

.plans__title {
	font-weight: 900;
	line-height: rem(26px);
	font-size: rem(20px);
	letter-spacing: 0.1em;
	font-family: $font-title;
	text-transform: uppercase;
	color: #fff;
	max-width: rem(557px);

	@include r($mob) {
		line-height: rem(19px);
		font-size: rem(12px);
		padding-right: rem(10px);
	}

	span {
		color: $primary-color;
		
		@include r($mob) {
			color: #fff;
		}
	}
}

.btn-zoom {
	background-color: #EFAE05;
	width: rem(50px);
	height: rem(50px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	svg {
		width: rem(20px);
		height: rem(20px);
		fill: #fff;
	}
}

.flatsList {
	padding-right: rem(5px);

	@include r($xs-breakpoint) {
		padding-right: 0;
		margin-top: rem(40px);
		margin-right: -16px;

		.swiper-container {
			padding-right: rem(79px);
			padding-bottom: rem(28px);
		}
	}
}

