.section--progress {
	display: flex;
	align-items: center;

	@include r($xs-breakpoint) {
		display: block;
	}

	.section__inner {
		display: flex;
		height: auto !important;
		align-items: initial !important;

		.stages {
			width: percentage(416/740);

			@include r($xs-breakpoint) {
				width: 100%;
				margin-bottom: 16px;
			}
		}

		.newsBox {
			width: percentage(308/740);
			margin-left: auto;

			@include r($xs-breakpoint) {
				width: 100%;
			}

			//.tabs__con {
			//	height: 100%;
			//}

			//.newsBox {
			//	height: 100%;
			//}
		}
	}
}
