.popup .single {
	padding: rem(43px) rem(16px) rem(43px) rem(43px);
	height: 100%;

	@include r($xs-breakpoint) {
		padding: 95px 8px 30px;
	}
}

.single {

	&__content {
		height: 100%;

		.simplebar-content {
			padding-right: rem(94px);
		}
	}

	&__title {
		font-size: rem(32px);
		font-family: $font-title;
		text-transform: uppercase;
		line-height: rem(41px);
		letter-spacing: 0.1em;
		font-weight: 900;
	}

	&__date {
		line-height: rem(20px);
		font-size: rem(14px);
		margin-top: rem(17px);
	}

	article {
		line-height: rem(25px);
		font-size: rem(18px);
		margin-top: 30px;

		p {
			padding-right: rem(20px);
			margin: rem(30px) 0;
		}
	}
}
