$font-path: '../fonts/';
$font-main: 'Roboto', sans-serif;
$font-second: 'Raleway', sans-serif;

$font-title: 'GT Eesti Pro Display', sans-serif;


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Black.woff') format('woff'),
	url('../fonts/Raleway-Black.ttf')  format('truetype'),
	url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('../fonts/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GTEestiProDisplay-UltraBold.otf')  format('opentype'),
	url('../fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
	url('../fonts/GTEestiProDisplay-UltraBold.ttf')  format('truetype'),
	url('../fonts/GTEestiProDisplay-UltraBold.svg#GTEestiProDisplay-UltraBold') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('../fonts/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GTEestiProDisplay-Bold.otf')  format('opentype'),
	url('../fonts/GTEestiProDisplay-Bold.woff') format('woff'),
	url('../fonts/GTEestiProDisplay-Bold.ttf')  format('truetype'),
	url('../fonts/GTEestiProDisplay-Bold.svg#GTEestiProDisplay-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: url('../fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GTEestiProDisplay-Regular.otf')  format('opentype'),
	url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
	url('../fonts/GTEestiProDisplay-Regular.ttf')  format('truetype'),
	url('../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
