@import "grid";

.container-fluid {
	width: 100%;
	padding: 0 rem(40px);
	margin: 0 auto;
	position: relative;

	@include r($xs-breakpoint) {
		margin-left: 0;
		padding: 0 16px;
	}
}

.container {
	width: 100%;
	margin-left: rem(254px);
	max-width: rem(959px);
	padding: 0;

	@include r($xs-breakpoint) {
		margin-left: 0;
		padding: 0 16px;
	}
}

.i-content {
	width: rem(740px);
	margin-left: auto;
	position: relative;

	@include r($xs-breakpoint) {
		margin-left: 0;
		padding: 0 16px;
		width: 100%;
	}
}

.color-black {
	color: $black;
}

.title-lg {

}

.title-sm {

}

.title-md {

}

.text-center {
	text-align: center;
}

.hidden-mobile {
	@include r($mob) {
		display: none !important;
	}
}

.hidden-desktop {

	@include rmin($mob) {
		display: none !important;
	}
}

