// Colors
$primary-color: #EFAE05;
$primary-color-lighten: #6CDA7D;
$primary-color-light: #71C87E;

$secondary-color: #FF9E0C;

$black: #1F1F1F;
$black-second: #171717;
$black-lighten: #6F6F6F;

$gray: #8C8C8C;
$gray-lighten: #A5A5A5;

$gray-light: #E8E8E8;

$gray2: #C4C4C4;

$white: #fff;

$red: #FF2424;

$orange: #EFAE05;

$yellow: #EDC700;

$orange-gradient: linear-gradient(90deg, #E08600 2.73%, #EFAE05 100%);

// Box shadow
$box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);

// Border radius
$border-radius: 40px;

// Transition
$easing: cubic-bezier(0.58, 0.01, 0.41, 1);
$transition: all 0.3s $easing;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$xlg-breakpoint: 1600;
$lg-breakpoint: 1250;
$md-breakpoint: 1025;
$sm-breakpoint: 900;
$xs-breakpoint: 479;


$mob: $xs-breakpoint;
