html {
	color: $black;
	font-size: 16px;
	font-family: $font-title;
	-webkit-tap-highlight-color: transparent;
	@include font-smoothing();


	@include r(479) {
		font-size: 16px !important;
	}
}

h1, h2, h3, h4 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	transition: .25s all;
	text-decoration: none;
	color: $black;

	&:hover {
		color: $primary-color;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input:focus {
	outline: none;
}

::selection {
	color: $white;
	background-color: $primary-color;
}

::-moz-selection {
	color: $white;
	background-color: $primary-color;
}
