.out {
	position: relative;
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;

	@include r($xs-breakpoint) {
		overflow: hidden !important;
	}
}

.fp-enabled {

	@include r($xs-breakpoint) {

		.body {
			position: fixed;
		}
	}
}

.is-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.section {
	position: relative;
	//overflow: hidden;
}

.page-overlay {
	@include cover();
	position: fixed;
	top: 0;
	left: 0;
	right: rem(84px);
	bottom: 0;

	@include r($mob) {
		right: 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000000;
		opacity: .7;
	}
}

.page-content {
	padding-right: rem(84px) + rem(64px);

	@include r($xs-breakpoint) {
		padding-right: 0;
	}

	@include rmin($xs-breakpoint) {
		opacity: 0;
		visibility: hidden;
		transition: .3s all;

		&.is-loaded {
			opacity: 1;
			visibility: visible;
		}
	}

	.section {
		padding-top: rem(64px);
		padding-bottom: rem(64px);

		@include r($mob) {
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

		@include r($mob) {
		    > .section__inner {
			    padding-top: rem(83px);
			    //padding-bottom: rem(64px);
		    }
		}

		&:not(.fp-auto-height) {

			@include r($mob) {

				.fp-scroller {
					padding-top: rem(85px);
					padding-bottom: rem(64px);
				}

			}
		}

		.section__inner {
			height: 100%;
			display: flex;
			align-items: center;

			@include r($xs-breakpoint) {
				display: block;
				height: auto;
			}
		}
	}
}

.section__title {
	font-weight: 900;
	line-height: rem(41px);
	font-size: rem(32px);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: $font-title;
}


.section__head {
	font-weight: 900;
	line-height: rem(52px);
	font-size: rem(50px);
	font-family: $font-title;
	color: #FFFFFF;
	overflow: hidden;
	margin-bottom: rem(30px);
	display: none;

	@include r($xs-breakpoint) {
		display: block;
	}

	span {
		position: relative;
		display: inline-block;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
			height: 4px;
			margin-left: 16px;
			margin-top: 3px;
			width: 100%;
			background: #EFAE05;
		}
	}
}

svg.icon-arrow-long-right {
	width: rem(46px);
	height: rem(12px);
}

.fp-right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: rem(84px);
	display: flex;
	align-items: center;
	z-index: 20;
	padding-right: rem(25px);
	margin-top: 0 !important;

	li {
		margin: rem(15px) 0;

		a {
			display: block;
			min-width: rem(12px);
			min-height: rem(12px);
		}

		a.active span {
			width: rem(12px);
			height: rem(12px);
			background-color: #EFAE05;
		}

		a span {
			margin: 0 auto;
			display: block;
			width: rem(4px);
			height: rem(4px);
			border-radius: 50%;
			background-color: #C4C4C4;
			transition: .3s all;

		}
	}
}

.fp-scroller {

	@include rmin($xs-breakpoint) {
		height: 100%;
	}
}

.swiper-button-lock,
.swiper-pagination.swiper-pagination-lock {
	display: none !important;
}



@include r($xs-breakpoint) {
	.section {
		height: auto !important;
	}
}


.is-ready {

	.preloader {
		opacity: 0;
		visibility: hidden;
	}
}


.preloader {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $black;
	z-index: 100000000000000000000000;
	transition: .3s all;
}

.ball-scale-ripple-multiple {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball-scale-ripple-multiple>div:nth-child(0) {
	animation-delay: -.8s
}

.ball-scale-ripple-multiple>div:nth-child(1) {
	animation-delay: -.6s
}

.ball-scale-ripple-multiple>div:nth-child(2) {
	animation-delay: -.4s
}

.ball-scale-ripple-multiple>div:nth-child(3) {
	animation-delay: -.2s
}

.ball-scale-ripple-multiple>div {
	position: absolute;
	top: -2px;
	left: -26px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 2px solid #fff;
	animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8)
}

@keyframes ball-scale-ripple-multiple {
	0% {
		transform: scale(.1);
		opacity: 1
	}

	70% {
		transform: scale(1);
		opacity: .7
	}

	100% {
		opacity: 0
	}
}
