{% set menu = [
    {
        title: 'О проекте',
        src: 'about'
    }, {
        title: 'Локация',
        src: 'location'
    }, {
        title: 'Планировки',
        src: 'layout'
    },
    {
        title: 'Финансы',
        src: 'finance'
    },{
        title: 'Прогресс',
        src: 'progress'
    },
    {
        title: 'Контакты',
        src: 'contacts'
    }
] %}

<nav class="nav">
    <div class="container-fluid">
        <ul class="menu">
            {% for item in menu %}
                <li class="menu__item" data-menuanchor="{{ item.src }}">
                    <a href="#{{ item.src }}">
                        <span>{{ item.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
