<div class="popup popup--full-screen" id="canvasObject" data-canvas-url="canvas.html">
    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>

    <div class="canvasObject">
        <div class="canvasObject__title">
            выберите этаж
        </div>

        <div class="canvasObject__body">
            {% include "../canvas.html" %}
        </div>

        <div class="canvasObject__button">
            <button type="button" class="btn btn-transparent" data-popup="#selectionNumber">Подобрать по параметрам</button>
        </div>
    </div>
</div>

<div class="popup popup--full-screen" id="objectRooms">
    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>

    <div class="objectRooms">
        <div class="objectFloorsNav">
            <div class="objectFloorsNav__title">Этаж</div>
            <form action="/" class="form form--floors">
                {% for item in range(3, 12) %}
                    <div class="floorNumber">
                        <input type="radio" name="floorNumber" value="{{ item }}"
                               {% if item === 7 %}checked{% endif %}/>
                        <span>{{ item }}</span>
                    </div>
                {% endfor %}
            </form>
        </div>

        <div class="objectRooms__body">
            <div class="objectRooms__left">
                <div class="objectRooms__title">Выберите номер</div>
                <div class="objectRooms__info">
                    <ul>
                        <li>
                            <span style="background-color: #A4B0C2;"></span>
                            Занятые номера
                        </li>
                        <li>
                            <span></span>
                            Свободные номера
                        </li>
                    </ul>
                </div>
            </div>
            <div class="objectRooms__right">
                <div class="objectRooms__scheme"
                     style="background-image: url('img/scheme.jpg');"></div>
            </div>
        </div>
    </div>

</div>

<div class="popup popup--full-screen" id="selectionNumber">
    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>

    <div class="selectionNumber">
        <div class="selectionNumber__left">
            <div class="selectionNumber__title">ПОДБОР номера</div>
            <form action="http://www.mocky.io/v2/5be0a63b3200006700649720" class="form form--selection">
                <div class="form__field form__field--type">
                    <label class="label">Тип номера</label>
                    <select name="typeFlat" class="js-select">
                        <option value="1" >Стандарт 18.35 - 26.35 m²</option>
                        <option value="2" >Супериор 34 - 41 m²</option>
                        <option value="3" >Делюкс 34 - 41 m²</option>
                        <option value="4" >Сьют 34 - 41 m²</option>
                    </select>
                </div>

                <div class="form__area">
                    <div class="form__field">
                        <label class="label">Этаж</label>
                        <div class="floorNumber__list">
                            {% for item in range(3, 12) %}
                                <div class="floorNumber">
                                    <input type="radio" name="floorNumber" value="{{ item }}" />
                                    <span>{{ item }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label">Площадь</label>

                        <div class="form__selects">
                            <select name="squareStar" class="js-select">
                                <option value="11">31,20 м2</option>
                                <option value="12">32,20 м2</option>
                            </select>
                            <span>до</span>
                            <select name="squareEnd" class="js-select">
                                <option value="9">37,20 м2</option>
                                <option value="13">38,20 м2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label">Стоимость, млн</label>

                        <div class="form__selects">
                            <select name="priceStart" class="js-select">
                                <option value="9.4">9,4</option>
                                <option value="10.4">10,4</option>
                            </select>
                            <span>до</span>
                            <select name="priceEnd" class="js-select">
                                <option value="12.4">12,4</option>
                                <option value="13.4">13,4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

            <div class="selectionNumber__bottom">
                <a href="#" class="btn btn-transparent" data-popup="#canvasObject">Выбрать визуально</a>
            </div>
        </div>
        <div class="selectionNumber__right">

            <div class="resultBox">
                <div class="resultBox__head">
                   <div class="resultBox__row">
                       {% for item in ['Этаж', 'Тип номера', 'Площадь', 'Цена'] %}
                           <div class="resultBox__col">{{ item }}</div>
                       {% endfor %}
                   </div>
                </div>
                <div class="resultBox__body" data-simplebar="">
                    {% for item in range(0, 15) %}
                        <div class="resultBox__row" data-apartment="31">
                            <div class="resultBox__col">11</div>
                            <div class="resultBox__col">Супериор</div>
                            <div class="resultBox__col">43 м2</div>
                            <div class="resultBox__col">7,5 млн.</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>

<div class="popup popup--full-screen" id="locationModal">
    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
    <div class="locationModal">
        <div class="location__left locationBox">
            <div class="location__title section__title">
                Значимые
                объекты
            </div>

            <nav class="locationNav">
                <ul class="locationObjects">
                </ul>
            </nav>
        </div>
        <div id="locationMap2"></div>
    </div>
</div>

<div class="popup popup--full-screen" id="roomCard">
    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>

    <div class="roomCard">

        <div class="roomCard__back">
            <button type="button" class="btn btn-back">
                {{ mixins.icon('arrow-left') }}
                <span>Назад</span>
            </button>
        </div>

        <div class="roomCard__left">
            <div class="roomCard__info">
                <div class="roomCard__title">
                    СУПЕРИОР
                </div>
                <div class="roomCard__square">
                    37
                </div>
                <div class="roomCard__floor">
                    7 этаж
                </div>
                <div class="roomCard__text">
                    Вид на Финский залив
                </div>

                <div class="roomCard__price priceBox">
                    <div class="priceBox__title">Стоимость</div>
                    <div class="priceBox__value">4.7 млн</div>
                </div>
            </div>
        </div>
        <div class="roomCard__center">
            <div class="profitBox">
                <div class="profitBox__title">Доход
                    от&nbsp;вложений</div>
                <div class="profitBox__body">
                    <table>
                        <tr>
                            <td>Годовая доходность</td>
                            <td>8,9% готовых</td>
                        </tr><tr>
                            <td>Ежемесячный
                                доход в рублях</td>
                            <td>234,580</td>
                        </tr>
                        <tr>
                            <td>Срок
                                окупаемости</td>
                            <td>4 года</td>
                        </tr>
                    </table>
                </div>
                <div class="profitBox__bottom">
                    <a href="#" class="btn btn-primary btn--lg">Расчититать доход</a>
                </div>
            </div>
        </div>
        <div class="roomCard__right">
            
            <div class="previewRoom">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for item in range(0, 5) %}
                            <div class="swiper-slide">
                                <div class="previewRoom__photo" style="background-image: url('img/preview_room.jpg');"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="previewRoom__bottom">
                    <div class="previewRoom__actions">
                        <a href="#" class="btn btn-favorite">
                            {{ mixins.icon('star') }}
                            <span>В избранное</span>
                        </a>

                        <a href="#" class="btn btn-print">
                            {{ mixins.icon('print') }}
                            <span>Распечатать</span>
                        </a>
                    </div>
                    <div class="previewRoom__controls">
                        <div class="swiper-controls">
                            <div class="swiper-controls">
                                <div class="swiper-controls__buttons">
                                    <div class="swiper-button swiper-button-prev">
                                        {{ mixins.icon('arrow-prev') }}
                                    </div>
                                    <div class="swiper-button swiper-button-next">
                                        {{ mixins.icon('arrow-next') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <form action="/" class="form form--roomCard">
                <div class="form__field">
                    <input type="text" class="input" name="phone">
                </div>
                <div class="form__button">
                    <button class="btn btn-secondary" type="submit">Отправить заявку</button>
                </div>
            </form>
            
        </div>

    </div>

</div>

<div class="popup popup--full-screen popup--darken" id="searchBar">

    <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>

    <div class="popup__body">
        <form action="/" class="form form--search">
            <div class="form__search">
                <input type="text" class="input" name="search" placeholder="Поисковый запрос"/>
            </div>
        </form>
    </div>
</div>
