---
title: Корабли от Master Девелопмент
---
{% extends "layouts/_layout.html" %}

{% block content %}


    <div class="page-overlay" style="background-image: url('img/banner/section-bg.jpg');"></div>

    <div class="page-content">

        {% include "sections/_banner.html" %}
        {% include "sections/_about.html" %}
        {% include "sections/_location.html" %}
        {% include "sections/_plans.html" %}
        {% include "sections/_finance.html" %}
        {% include "sections/_progress.html" %}
        {% include "sections/_contacts.html" %}

    </div>



{% endblock %}
