.btn {
	position: relative;
	display: inline-block;
	border-radius: 0;
	border: 0;
	transition: .3s all;
	background-color: transparent;
}

.btn-primary {
	background: #EFAE05;
	height: rem(63px);
	font-weight: 900;
	font-size: rem(12px);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: $font-title;
	padding: 0 rem(40px);
	&:hover {
		background: darken(#EFAE05, 5%);
		color: #fff;
	}

	&.btn--sm {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		line-height: rem(25px);
		font-size: rem(18px);
		height: rem(56px);
		letter-spacing: 0;
		padding: 0 rem(47px);
		text-transform: initial;

		@include r($xs-breakpoint) {
			height: rem(48px);
		}
	}

	&.btn--lg {
		width: rem(264px);
		height: rem(136px);
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		padding: 0 rem(50px);

		@include r($xs-breakpoint) {
			width: 100%;
			height: rem(140px);
			padding: 0 rem(70px);
		}
	}
}

.btn-secondary {
	background-color: $black;
	font-size: rem(18px);
	color: #fff;
	white-space: nowrap;
	height: rem(60px);
	font-weight: 700;

	&:hover {

	}
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-text {
	font-weight: 900;
	font-size: rem(12px);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	font-family: $font-title;
}

.btn-scrollDown {


	svg {
		pointer-events: none;
		width: rem(20px);
		height: rem(48px);

		g {
			//stroke-dasharray: 250;
			//stroke-dashoffset: 0;
			//animation-name: dash;
			//animation-duration: 8000ms;
			//animation-iteration-count: infinite;
			//animation-timing-function: linear;
		}
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 1000;
	}
}

.btn-search {


	svg {
		width: rem(23px);
		height: rem(23px);
	}
}

.btn-scale {


	svg {
		width: rem(31px);
		height: rem(27px);
		fill: #BBBBBB;
	}
}

.btn-camera {
	text-align: center;
	width: 100%;
	padding: rem(21px) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-weight: 900;
	line-height: rem(19px);
	font-size: rem(12px);
	letter-spacing: 0.1em;
	font-family: $font-title;


	
	@include r($xs-breakpoint) {
	    flex-flow: row;
		padding: rem(10px) 0;
		width: auto;
	}

	&:hover {
		opacity: .65;
	}

	svg {
		width: rem(56px);
		height: rem(56px);

		@include r($xs-breakpoint) {
			width: rem(32px);
			height: rem(32px);
			margin-right: rem(12px);
		}
	}

	span {
		color: $red;
		text-transform: uppercase;
		display: block;
		margin-top: rem(7px);

		@include r($xs-breakpoint) {
			margin-top: 0;
		}
	}
}


.btn-close {
	position: absolute;
	top: 0;
	right: 0;
	width: rem(85px);
	height: rem(85px);
	z-index: 10;
	background-color: #fff;
	text-align: center;
	line-height: rem(100px);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

	@include r($xs-breakpoint) {
		width: rem(85px);
		height: rem(85px);
	}

	&:hover {
		background-color: $orange;
	}

	svg {
		width: rem(26px);
		height: rem(26px);
	}
}

.btn-burger {
	margin-left: auto;


	&.is-active {

		.bar:nth-child(2) {
			opacity: 0;
		}

		.bar:first-child {
			transform: rotate(45deg) translate(4px, 2px);
		}

		.bar:last-child {
			transform: rotate(-45deg) translate(6px, -4px);
		}
	}

	.bar {
		display: block;
		width: 29px;
		height: 2px;
		background-color: #fff;
		transition: .3s all;

		&:not(:first-child) {
			margin-top: 4px;
		}

		&:nth-child(2) {
			width: 19px;
		}
	}
}

.btn-transparent {
	font-weight: 600;
	line-height: rem(25px);
	font-size: rem(18px);
	height: rem(60px);
	min-width: rem(310px);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.btn-back {
	display: flex;
	align-items: center;
	font-weight: 900;
	line-height: rem(19px);
	font-size: rem(12px);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: rem(33px) rem(35px);

	&:hover {
		background-color: $primary-color;

		svg {
			fill: $black;
		}
	}

	span {
		margin-left: rem(15px);
	}

	svg {
		transition: .3s all;
	}
}


.btn-favorite {
	display: flex;
	align-items: center;
	line-height: rem(18px);
	font-size: rem(14px);

	svg {
		width: rem(30px);
		height: rem(30px);
		stroke: $primary-color;
		vertical-align: middle;
	}

	span {
		margin-left: rem(10px);
		margin-top: rem(5px);
	}
}


.btn-print {
	display: flex;
	align-items: center;
	line-height: rem(18px);
	font-size: rem(14px);
	padding-left: rem(3px);

	svg {
		width: rem(22px);
		height: rem(22px);
		vertical-align: middle;
	}

	span {
		margin-left: rem(15px);
		margin-top: rem(5px);
	}
}

.btn-link {
	color: #fff;
	line-height: rem(25px);
	font-size: rem(18px);
	font-weight: 700;

	&:hover {
		color: $primary-color;
	}
}

.btn-orange-border {
	height: rem(56px);
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	line-height: rem(19px);
	font-size: rem(12px);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid $primary-color;

	&:hover {
		background-color: $primary-color;
		color: $black;
	}
}
