.card--flat {
	cursor: pointer;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 4px solid $primary-color;
		opacity: 0;
		visibility: hidden;
		transition: .3s all;
		pointer-events: none;

		@include r($xs-breakpoint) {
			content: none;
		}
	}

	&:hover {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	@include r($xs-breakpoint) {
	    &:before {
		    content: attr(data-label);
		    text-transform: uppercase;
		    color: #fff;
		    font-weight: 900;
		    line-height: rem(26px);
		    font-size: rem(20px);
		    letter-spacing: 0.1em;
		    display: block;
		    text-align: center;
		    margin-bottom: rem(10px);
	    }
	}

	.card__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.card__photo {
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center center;
		height: rem(210px);

		@include r($xs-breakpoint) {
			height: rem(326px);
		}
	}

	.card__body {
		background-color: #282828;
		color: #fff;
		padding: rem(9px) rem(13px);
	}

	.card__title {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.card__info {
		line-height: rem(18px);
		font-size: rem(14px);

		@include r($xs-breakpoint) {
			margin-top: rem(2px);
		}
	}
}
