.fancybox-slide {
	//padding: 16px;
	padding: 0;
}

.fancybox-slide--html .fancybox-content {
	margin-bottom: 0;
}

.fancybox-content {
	padding: 0;
}

img {
	@include r($xs-breakpoint) {
		width: auto !important;
		height: auto !important;
	}
}

.popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #E7E7E7;
	transition: .3s all;
	z-index: 100;
	display: none;
	animation: fadeIn ease-in-out .3s forwards;

	@include r($xs-breakpoint) {
		width: 100%;
		left: 2px;
		//top: 16px;
		//left: 16px;
		//right: 16px;
		//bottom: 16px;
		position: relative;
		animation: none;
		padding: 16px;
	}

	.simplebar-track {
		pointer-events: none;
	}

	&.is-active {
		display: block;

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	.btn-close {
		top: -25px;
		right: -24px;
		z-index: 100;

		@include r($xs-breakpoint) {
			top: 0;
			right: 0;
		}

		svg {
			pointer-events: none;
		}
	}

	.aboutPopup {
		position: relative;
		z-index: 2;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-inner {

}

.popup--full-screen {
	top: rem(16px);
	height: calc(100vh - 1rem - 1rem);
	left: rem(16px);
	right: rem(16px);
	background-color: #fff;
	z-index: 1000000002;

	@include r($xs-breakpoint) {
		top: 0;
		left: 2px;
		right: 0;
		height: auto;
	}


	&.popup--darken {
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba(#161616, .5);
	}

	.btn-close {
		top: rem(-16px);
		right: rem(-16px);

		@include r($xs-breakpoint) {
			//top: 0;
			//right: 0;
		}
	}
}

#searchBar {

	@include r($xs-breakpoint) {
		background-color: transparent;
	}

	.popup__body {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		@include r($xs-breakpoint) {
			padding: 0 16px;
			bottom: rem(64px);
		}
	}

	.btn-close {
		position: absolute;
		top: auto;
		bottom: 0;
		right: 0;
		height: rem(96px);
		width: rem(96px);
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;

		@include r($xs-breakpoint) {
			width: rem(64px);
			height: rem(64px);
			bottom: 64px;
			right: 16px;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		&:hover {
			background-color: $primary-color;
		}
	}
}


.form__search {

	.input {
		width: 100%;
		height: rem(96px);
		background-color: #fff;
		border: rem(8px) solid $primary-color;
		font-family: $font-title;
		font-weight: 900;
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding-left: rem(33px);

		@include r($xs-breakpoint) {
			height: rem(64px);
			border-width: rem(4px);
			font-size: rem(18px);
			padding-left: rem(16px);
		}

		&::placeholder {
			font-family: inherit;
			font-weight: 900;
			color: #787878;
		}
	}
}
