.socials {
	display: flex;

	font-size: rem(12px);
	font-family: $font-title;
	font-weight: 800;


	&__item:not(:first-child) {
		margin-left: rem(40px);
	}

	a {
		color: #fff;
		text-transform: uppercase;
		opacity: .6;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60px;
			height: 60px;
		}

		&:hover {
			opacity: 1;
		}
	}
}
