.tooltip {
	position: fixed;
	background-color: #fff;
	padding: rem(25px) rem(30px) rem(15px) rem(23px);
	//top: 248px;
	//right: 125px;
	min-width: rem(308px);
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	min-height: rem(150px);
	
	&.is-orange {
		background-color: #EFAE05;
		
		&:before {
			border-color: transparent #EFAE05 transparent transparent;
		}
		
		.tooltip__title {
			color: #fff;
		}

		td:first-child {

			div {

				&:before {
					background-color: #fff;
				}
			}
		}

		td:last-child div {
			background-color: #EFAE05;
		}
	}

	&.is-loading {
		filter: blur(5px);
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	&.is-reverse {

		&:before {
			right: auto;
			left: 100%;
			transform: rotate(180deg);
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: rem(34px);
		right: 100%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 12px 10px 0;
		border-color: transparent #fff transparent transparent;
	}

	&__title {
		line-height: rem(26px);
		font-size: rem(20px);
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: rem(10px);
	}

	table {
		line-height: rem(20px);
		font-size: rem(16px);
		width: 100%;
		display: block;

		tbody {
			display: block;
		}

		tr {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		td {
			display: block;
		}


		td {
			padding-bottom: rem(12px);
		}
		
		td:first-child {
			white-space: nowrap;

			div {
				display: inline-block;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 100%;
					margin-left: rem(4px);
					bottom: rem(3px);
					right: -100px;
					background-color: #C4C4C4;
					height: 1px;
				}
			}
		}


		td:last-child {
			text-align: right;
			font-weight: 700;
			line-height: rem(25px);
			font-size: rem(18px);
			white-space: nowrap;
			width: auto;

			div {
				background-color: #fff;
				padding: 2px 0;
				position: relative;
			}

			strong {
				font-weight: 900;
				line-height: rem(19px);
				font-size: rem(12px);
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}
		}
	}
}
