{% set compos = ['Доходные номера с потрясающим видом на Финский залив и реку Смоленку', 'Конгресс-центр с многофункциональными, трансформируемыми залами до 1000 человек', 'Исчерпывающий состав магазинов и предприятий услуг для жизни, бизнеса и отдыха', 'Среда для бизнеса — удобные пространства для проведения конференций, семинаров, деловых встреч', 'Центр развития и досуга для детей', 'Бизнес-центр класса «А», коворкинг', 'Культурные пространства для выставок и мероприятий', 'Крытое общественное пространство атриума', 'СПА центр, спортивный клуб', 'Современный медицинский центр'] %}

{% set compos2 = ['Приобрести на ранней стадии (со скидкой от базовой стоимости)', 'Выбрать оптимальный для инвестора объем участия', 'Выбрать номера с лучшими характеристиками и видами из окон', 'Получить не просто недвижимость, а готовое бизнес решение с доходной программой'] %}

<div class="section section--about">
    <div class="i-content section__inner">
        <div class="section__head">
            <span>О проекте</span>
        </div>
        <div class="about">
            <div class="about__column">
                <div class="aboutItem aboutItem--lg" style="background-color: #E8E8E8;">
                    <a href="#" class="aboutItem__link" data-popup="#aboutProject"></a>
                    <div class="aboutItem__head">
                        <div class="aboutItem__title">
                            КОРАБЛИ – ЭТО
                        </div>
                        <div class="aboutItem__subtitle">
                            4**** инвест-отель мирового уровня с конгресс-центром в исторической части Петербурга.
                        </div>
                    </div>
                    <div class="aboutItem__body">

                        <ul class="aboutList">
                            <li class="aboutList__item">
                                <div class="aboutList__icon">
                                    <img src="img/about/strateg.svg" alt="">
                                </div>
                                <div class="aboutList__title">
                                    Стратегический инвестиционный проект Санкт-Петербурга – гарантия качества и сроков реализации
                                </div>
                            </li>
                            <li class="aboutList__item">
                                <div class="aboutList__icon">
                                    <img src="img/about/congress.svg" alt="">
                                </div>
                                <div class="aboutList__title">
                                    Конгресс-центр вместимостью до 1000 человек – как гарантия внесезонной заполняемости номеров
                                </div>
                            </li>
                            <li class="aboutList__item">
                                <div class="aboutList__icon">
                                    <img src="img/about/location.svg" alt="">
                                </div>
                                <div class="aboutList__title">
                                    Исключительная локация – исторический центр, пешая доступность метро – максимальная капитализация средств
                                </div>
                            </li>
                            <li class="aboutList__item">
                                <div class="aboutList__icon">
                                    <img src="img/about/arenda.svg" alt="">
                                </div>
                                <div class="aboutList__title">
                                    70% видовых номеров – повышенная доходность от сдачи в аренду
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="aboutItem__bottom">
                        <a href="#" data-popup="#aboutProject">
                            {{ mixins.icon('arrow-long-right2') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="about__column">
                <div class="aboutItem">
                    <a href="#" class="aboutItem__link" data-popup="#aboutIncome"></a>
                    <div class="aboutItem__bg"
                         style="background-image:url('img/about/item1.jpg');"></div>
                    <div class="aboutItem__head">
                        <div class="aboutItem__title">
                            Что такое<br> инвест-отель
                        </div>
                        <div class="aboutItem__subtitle">
                            Как заработать на вложении в недвижимсть?
                        </div>
                    </div>
                    <div class="aboutItem__bottom">
                        <a href="#" data-popup="#aboutIncome">
                            {{ mixins.icon('arrow-long-right2') }}
                        </a>
                    </div>
                </div>
                <div class="aboutItem">
                    <a href="#" class="aboutItem__link" data-popup="#aboutOffer"></a>
                    <div class="aboutItem__bg"
                         style="background-image:url('img/about/item1.jpg');"></div>
                    <div class="aboutItem__head">
                        <div class="aboutItem__title">
                            Раннее участие
                        </div>
                        <div class="aboutItem__subtitle">
                            Уникальные видовые характеристики
                        </div>
                    </div>
                    <div class="aboutItem__bottom">
                        <a href="#" data-popup="#aboutOffer">
                            {{ mixins.icon('arrow-long-right2') }}
                        </a>
                    </div>
                </div>
                <div class="aboutItem">
                    <a href="#" class="aboutItem__link" data-popup="#aboutComposition"></a>
                    <div class="aboutItem__bg"
                         style="background-image:url('img/about/item1.jpg');"></div>
                    <div class="aboutItem__head">
                        <div class="aboutItem__title">
                            Состав
                            проекта
                        </div>
                        <div class="aboutItem__subtitle">
                            Уникальные видовые характеристики
                        </div>
                    </div>
                    <div class="aboutItem__bottom">
                        <a href="#" data-popup="#aboutComposition">
                            {{ mixins.icon('arrow-long-right2') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="nextStep hidden-desktop">
            <div class="nextStep__title">Далее:</div>
            <div class="nextStep__section">Планировки</div>
            <div class="nextStep__arrow">
                {{ mixins.icon('arrow-down') }}
            </div>
        </div>


        <div class="popup" id="aboutProject">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            KORABLI – стратегический инвестиционный проект Санкт-Петербурга.
                        </h2>
                        <h4>
                            Стратегический статус присваивается проектам, несущим <br>социальную и
                            экономическую функцию для города.
                        </h4>

                        <div class="aboutPopup-box">
                            <div class="aboutPopup-box__left">58</div>
                            <div class="aboutPopup-box__right">
                                – общее количество стратегических инвестиционных проектов в
                                Санкт-Петербурге, включая КОРАБЛИ. Наравне с такими значимыми
                                проектами, как Лахта-центр, Новая Голландия, реконструкция СКК.
                            </div>
                        </div>

                        <h3>Номера</h3>
                        <p>
                            Гостиничные номера, приобретаемые для дальнейшей сдачи в аренду и
                            получения высокого дохода.
                        </p>

                        <h3>
                            Коммерческие помещения
                        </h3>
                        <p>
                            2 этажа коммерческих помещений с набором услуг достаточных не только для
                            жителей комплекса, но и для внешних потребителей.
                            Кафе, рестораны, магазины, коворкинг, места для выставок, презентаций,
                            мастер-классов, а также набережная для прогулок и отдыха. Сделать с
                            инфографикой.
                        </p>

                        <h3>
                            Выставочный центр
                        </h3>
                        <p>
                            Конгрессно-выставочный центр на 800 мест, привлекающий бизнес туристов и
                            повышающий арендную ставку за номер и ваш доход.
                        </p>
                        <h3>
                            Подземный паркинг
                        </h3>
                        <p>
                            Паркинг на 1200 мест
                        </p>
                        <h3>
                            Управляющая компания
                        </h3>
                        <p>
                            Собственная управляющая компания, сдающая в аренду, обслуживающая
                            номера, а также выплачивающая собственникам их доход в соответствии с
                            договором.
                        </p>

                        <h3>
                            Инвест-отель 4****
                        </h3>

                        <div class="aboutPopup-links">
                            <ul>
                                <li>
                                    <a href="#">Рассчитать свой доход</a>
                                </li>
                                <li>
                                    <a href="#">Выбрать номер и узнать соимость</a>
                                </li>
                                <li>
                                    <a href="#">Узнать больше про инвест-отели</a>
                                </li>
                            </ul>
                        </div>

                        <p>
                            <strong>
                                Инвест-отель KORABLI – это 2 рядом стоящих 11-этажных здания,
                                разделенных р. Смоленкой с исключительными видами на Финский залив,
                                город и панораму реки Смоленки.
                            </strong>
                        </p>

                        <ul class="list-numbers">
                            <li>
                                <span>1091</span>
                                <span>номеров в первой<br> очереди</span>
                            </li>

                            <li>
                                <span>1038</span>
                                <span>номеров во второй<br> очереди</span>
                            </li>
                        </ul>

                        <p>
                            2 этажа коммерческих помещений, в том числе конгрессно-выставочный
                            центр. Современные общественные пространства, кафе рестораны и места для
                            прогулок.
                        </p>

                    </article>
                </div>
            </div>
        </div>
        <div class="popup" id="aboutIncome">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Что такое инвест-отель и как на этом заработать?
                        </h2>
                        <h4>
                            Инвест-отель – это доходная недвижимость,<br> приобретаемая для
                            последующей сдачи в аренду<br> с целью получения дохода.
                        </h4>

                        <p>
                            Инвест-отель – это новый формат недвижимости, который приносит доход
                            своим владельцам. При этом сдачей, обслуживанием, уборкой, ремонтом и
                            пр. занимается управляющая компания. Собственник просто получает доход в
                            соответствии с выбранной доходной программой. Номера приобретаются в
                            собственность и юридически вы владеете коммерческим помещением.
                        </p>

                        <h3>
                            Вы можете:
                        </h3>
                        <ul>
                            <li>Передать его в управление компании и получать доход</li>
                            <li>Сдавать сами и получать доход</li>
                            <li>Использовать для собственного проживания</li>
                            <li>Вы заключаете с застройщиком ДДУ по 214 Федеральному закону.</li>
                        </ul>

                        <h3>
                            инвест-отель выгоднее, чем:
                        </h3>
                        <p>
                            Квартира, апарт-отель, вклад в банке,<br> вклад в драгоценных металлах
                        </p>

                        <table>
                            <thead>
                            <th>Вид дохода</th>
                            <th>Ставка капитализации</th>
                            <th>Уровень риска</th>
                            <th>Информационный источник</th>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Хранение денег дома</td>
                                <td>-3%</td>
                                <td>Высокий</td>
                                <td>РОССТАТ</td>
                            </tr>
                            <tr>
                                <td>Жилая недвижимость</td>
                                <td>4-8%</td>
                                <td>Средний</td>
                                <td>Nai Becar</td>
                            </tr>
                            <tr>
                                <td>Торговая недвижимость</td>
                                <td>9,5 - 10%</td>
                                <td>Средний</td>
                                <td>Knight Frank</td>
                            </tr>
                            <tr>
                                <td>Офисная недвижимость</td>
                                <td>9,25 - 9,75%</td>
                                <td>Средний</td>
                                <td>Knight Frank</td>
                            </tr>
                            <tr>
                                <td>Складская недвижимость</td>
                                <td>11 - 11,75%</td>
                                <td>Средний</td>
                                <td>Knight Frank</td>
                            </tr>
                            <tr>
                                <td>Гостиничная недвижимость</td>
                                <td>8 - 15%</td>
                                <td>Низкий</td>
                                <td>Nai Becar</td>
                            </tr>
                            <tr>
                                <td>Паевые инвестиционные фонды</td>
                                <td>7%</td>
                                <td>Низкий</td>
                                <td>Invesrfunds</td>
                            </tr>
                            <tr>
                                <td>Банковский депозит</td>
                                <td>6 - 7,5%</td>
                                <td>Низкий</td>
                                <td>ЦБР</td>
                            </tr>
                            <tr>
                                <td>Фондовый рынок</td>
                                <td>7 - 15%</td>
                                <td>Высокий</td>
                                <td>FORBES</td>
                            </tr>
                            <tr>
                                <td>Золото</td>
                                <td>6%</td>
                                <td>Низкий</td>
                                <td>Сбербанк</td>
                            </tr>
                            </tbody>
                        </table>

                        <p>
                            Для жителей номеров инвест-отель очень похож на обычную гостиницу, имеет
                            те же сервисы и даже больше, там можно жить любое время (от 1 дня до 1
                            месяца или даже нескольких), но владельцами являются частные лица -
                            собственники.
                            Купить и владеть в нашем проекте Корабли можно 1 номер или несколько.
                            Можно купить и целый этаж. От этого будет зависеть ваш доход и сумма
                            вложенных средств.
                            Номера в нашем проекте имеют разную площадь, разную стоимость и разные
                            видовые характеристики.
                        </p>


                        <div class="aboutPopup-links">
                            <ul>
                                <li>
                                    <a href="#">Выбрать номер и узнать соимость</a>
                                </li>
                                <li>
                                    <a href="#">Узнать больше про инвест-отели</a>
                                </li>
                            </ul>
                        </div>

                    </article>
                </div>
            </div>
        </div>
        <div class="popup" id="aboutOffer">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Предложение<br> раннего участия
                        </h2>
                        <h3>
                            Инвестиционную недвижимость выгодно купить на ранней стадии, которая
                            позволяет:
                        </h3>

                        <div class="article-list-row">
                            {% for item in compos2 %}
                                <div class="article-list-row__item">
                                    <div class="article-list-row__icon">
                                        <img src="img/about/offer{{ loop.index }}.svg" alt="">
                                    </div>
                                    <div class="article-list-row__text">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>

                        <blockquote>
                            <p>
                                МИНИМУМ 20% РОСТ ЦЕНЫ ПРОДАЖ НА МОМЕНТ СДАЧИ КОРПУСОВ!
                            </p>
                        </blockquote>

                        <h2>Получить предложение:</h2>

                        <form action="/" class="form">
                            <div class="form__left">
                                <div class="form__field">
                                    <label class="label">Ваше имя:</label>
                                    <input type="text" class="input">
                                </div>

                                <div class="form__field">
                                    <label class="label">Телефон:</label>
                                    <input type="text" class="input" name="phone">
                                </div>
                            </div>
                            <div class="form__right">
                                <button class="btn btn-primary">отправить заявку</button>
                            </div>
                        </form>

                    </article>
                </div>
            </div>
        </div>
        <div class="popup" id="aboutComposition">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Состав проекта
                        </h2>
                        <h4>
                            Проект способный привлечь инвесторов и конечных пользователей, «оживить»
                            данную часть Васильевского острова, а также стать современным украшением
                            Санкт-Петербурга.
                        </h4>

                        <h3>
                            В проект входят:
                        </h3>

                        <div class="article-list-column">
                            {% for item in compos %}
                                <div class="article-list-column__item">
                                    <div class="article-list-column__icon">
                                        <img src="img/about/compos{{ loop.index }}.svg" alt="">
                                    </div>
                                    <div class="article-list-column__text">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
