<div class="section section--contacts">
    <div class="i-content section__inner">

        <div class="section__head">
            <span>Контакты</span>
        </div>

        <div class="contacts">
            <div class="contacts__left">
                <div class="contacts__title">
                    ОФисы продаж
                </div>

                <div class="contactsTabs">
                    <ul class="contactsTabs__list">
                        <li>
                            <a href="#" class="tab1" data-coords="59.937562 30.327825">
                                На Васильевском
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tab2 is-active" data-coords="59.937562 30.327825">
                                На Грибоедова
                            </a>
                        </li>
                    </ul>

                    <div class="contactsTabs__box">
                        <div class="contactsTabs__con contactsTabs__con_tab1">
                            <div class="address">
                                <p>«Скоро открытие»</p>
                            </div>
                        </div>

                        <div class="contactsTabs__con contactsTabs__con_tab2 is-active">
                            <div class="address">
                                <p>Санкт-Петербург, наб. канала Грибоедова, д.6, 2 этаж</p>
                            </div>
                            <div class="phone">
                                <a href="tel:+7(812)4016352">+7(812) 401-63-52</a>
                            </div>

                            <div class="info">
                                <p>
                                    09:00 – 21:00
                                    <span>Пн-Вс</span>
                                </p>
                                <p>
                                    10:00 - 17:00
                                    <span>Сб</span>
                                </p>
                                <p>
                                    Выходной
                                    <span>Вс</span>
                                </p>
                                <p>
                                    <a href="mailto:info@korabli.com">info@korabli.spb.ru</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contacts__right">
                <div id="contactsMap"></div>
            </div>
        </div>

    </div>
</div>
