{% set payment = [
    {
        title: 'На 1 год',
        subtitle: 'Минимальный первый взнос от 10%. Остаток ежеквартальными равными платежами',
        description: 'При первом взносе от 40% — скидка 10% с первого взноса. Остаток ежеквартальными равными платежами'
    },
    {
        title: 'до конца строительства (31.08.2021)',
        subtitle: 'Минимальный первый взнос от 20%. Остаток ежеквартальными равными платежами',
        description: 'При первом взносе от 40% — скидка 10% с первого взноса. Остаток ежеквартальными равными платежами'
    },
    {
        title: 'На 30 календарных дней',
        subtitle: 'Минимальный первый взнос от 10% в течение 5 рабочих дней',
        description: 'Скидка 10% от базовой стоимости (приравнивается к 100% оплате). Остаток оплачивается на р/с в течение 30 календарных дней'
    },
    {
        title: 'на 90 календарных дней',
        subtitle: 'Минимальный первый взнос 30% в течение 5 рабочих дней',
        description: 'Скидка 8% от базовой стоимости. Остаток оплачивается на р/с в течение 90 календарных дней'
    }
] %}

<div class="section section--finance">
    <div class="i-content section__inner">
        <div class="section__head">
            <span>Финансы</span>
        </div>
        <div class="finance-inner">
            <div class="programs">
                <div class="programs__left">
                    <div class="programs__title section__title">Доходные программы</div>
                    <div class="programs__subtitle">
                        Проект корабли – <br>перспективный проект для выгодных инвестиций и
                        гарантированного дохода
                    </div>
                </div>
                <div class="programs__right">

                    <ul class="programsList">
                        <li class="programsList__item">
                            <a href="#" class="programsList__link" data-popup="#program1"></a>
                            <div class="programsList__icon">
                                <img src="img/finance/program1.svg" alt="">
                            </div>
                            <div class="programsList__title">
                                Разделение успеха
                            </div>
                        </li>

                        <li class="programsList__item">
                            <a href="#" class="programsList__link" data-popup="#program3"></a>
                            <div class="programsList__icon">
                                <img src="img/finance/program2.svg" alt="">
                            </div>
                            <div class="programsList__title">
                                Минимальные риски
                            </div>
                        </li>

                        <li class="programsList__item">
                            <a href="#" class="programsList__link" data-popup="#program2"></a>
                            <div class="programsList__icon">
                                <img src="img/finance/program3.svg" alt="">
                            </div>
                            <div class="programsList__title">
                                Гарантированный доход
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="finance">
                <div class="finance__item">
                    <a href="#" class="finance__link" data-popup="#financeOrder"></a>
                    <div class="finance__title">Как купить
                        юнит
                    </div>
                    <div class="finance__subtitle">
                        Уникальные видовые характеристики
                    </div>
                    <div class="finance__bottom">
                        <a href="#"
                           data-popup="#financeOrder">{{ mixins.icon('arrow-long-right') }}</a>
                    </div>
                </div>

                <div class="finance__item finance__item--lg">
                    <a href="#" class="finance__link"></a>
                    <div class="finance__bg" style="background-image: url('img/finance_bg_item.jpg');"></div>
                    <div class="finance__title">Почему<br> инвест-отель выгоднее другой недвижимости
                    </div>
                    <div class="finance__subtitle">Уникальные видовые характеристики
                    </div>
                    <div class="finance__bottom">
                        <a href="#">
                            {{ mixins.icon('arrow-long-right2') }}
                        </a>
                    </div>
                </div>

                <div class="finance__item finance__item--orange">
                    <a href="#" class="finance__link" data-popup="#calculator"></a>
                    <div class="finance__title">Калькулятор
                        доходности
                    </div>
                    <div class="finance__bottom">
                        <a href="#"
                           data-popup="#calculator">{{ mixins.icon('arrow-long-right') }}</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="popup" id="financeOrder">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Как купить?
                        </h2>
                        <div class="financeBox financeBox--columns">
                            <div class="financeBox__col">
                                <ul class="financeBox-list">
                                    <li class="financeBox-list__item">
                                        <div class="financeBox-list__icon">
                                            <img src="img/finance/order1.svg" alt="">
                                        </div>
                                        <div class="financeBox-list__title">100% оплата</div>
                                    </li>

                                    <li class="financeBox-list__item">
                                        <div class="financeBox-list__icon">
                                            <img src="img/finance/order2.svg" alt="">
                                        </div>
                                        <div class="financeBox-list__title">Ипотека</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="financeBox__col">
                                <div class="financeBox-info">
                                    <div class="financeBox-info__title">Скидка от базовой
                                        стоимости:
                                    </div>
                                    <div class="financeBox-info__subtitle">10%</div>
                                </div>
                            </div>
                        </div>

                        <h3>Рассрочка</h3>

                        <div class="payment">
                            {% for item in payment %}
                                <div class="payment__item">
                                    <div class="payment__title">{{ item.title }}</div>
                                    <div class="payment__subtitle">{{ item.subtitle }}</div>
                                    <div class="payment__description">{{ item.description }}</div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="conditions">
                            <div class="conditions__title">
                                Индивидуальные условия
                            </div>

                            <div class="conditions__subtitle">
                                При покупке нескольких номеров готовы рассмотреть индивидуальные
                                условия оплаты
                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </div>

        <div class="popup" id="program1">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            программа<br> “Разделение успеха”
                        </h2>

                        <div class="programBox">
                            <div class="programBox__icon">
                                <img src="img/finance/programicon.svg" alt="">
                            </div>
                            <div class="programBox__text">
                                Сдача апартамента<br>
                                на краткосрочный период<br> (от 1 дня)
                            </div>
                        </div>

                        <ul class="programList">
                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-3.svg" alt="">
                                </div>
                                <div class="programList__text">Размер выплат инвестору зависит от
                                    сдачи управляющей компании апартамента в аренду и составляет 75%
                                    валового дохода от сдачи номера
                                </div>
                            </li>

                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-1.svg" alt="">
                                </div>
                                <div class="programList__text">Номера передаются собственнику с
                                    отделкой, меблировкой и пакетом арендатора
                                </div>
                            </li>
                        </ul>

                        <h2>Вступить в программу</h2>

                        <form action="/" class="form">
                            <div class="form__left">
                                <div class="form__field">
                                    <label class="label">Ваше имя:</label>
                                    <input type="text" class="input">
                                </div>

                                <div class="form__field">
                                    <label class="label">Телефон:</label>
                                    <input type="text" class="input" name="phone">
                                </div>
                            </div>
                            <div class="form__right">
                                <button class="btn btn-primary">отправить заявку</button>
                            </div>
                        </form>

                    </article>
                </div>
            </div>
        </div>

        <div class="popup" id="program2">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Программа “Гарантированный доход”
                        </h2>

                        <h4>Доходная программа для получения ежемесячных фиксированных арендных
                            выплат от управляющей компании с первого года и в течение определенного
                            срока (5 лет). Количество апартаментов, участвующих в программе
                            ограничено.</h4>

                        <div class="programBox">
                            <div class="programBox__icon">
                                <img src="img/finance/programicon.svg" alt="">
                            </div>
                            <div class="programBox__text">
                                Сдача апартамента
                                в среднесрочный и долгосрочный период (от 1 мес.)
                            </div>
                        </div>

                        <ul class="programList">
                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-3.svg" alt="">
                                </div>
                                <div class="programList__text">Размер выплаты инвестору не зависит
                                    от сдачи управляющей компании апартамента в аренду, он
                                    зафиксирован в именном Сертификате, который выдается Участнику
                                    долевого строительства в момент подписания Договора участия в
                                    долевом строительстве
                                </div>
                            </li>

                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-1.svg" alt="">
                                </div>
                                <div class="programList__text">Номера передаются собственнику с
                                    отделкой, меблировкой и пакетом арендатора
                                </div>
                            </li>
                        </ul>

                        <h2>Вступить в программу</h2>

                        <form action="/" class="form">
                            <div class="form__left">
                                <div class="form__field">
                                    <label class="label">Ваше имя:</label>
                                    <input type="text" class="input">
                                </div>

                                <div class="form__field">
                                    <label class="label">Телефон:</label>
                                    <input type="text" class="input" name="phone">
                                </div>
                            </div>
                            <div class="form__right">
                                <button class="btn btn-primary">отправить заявку</button>
                            </div>
                        </form>

                    </article>
                </div>
            </div>
        </div>

        <div class="popup " id="program3">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="aboutPopup">
                <div class="aboutPopup__content" data-simplebar>
                    <article>
                        <h2>
                            Программа<br> “Минимальные риски”
                        </h2>

                        <h4>Доходная программа для получения ежемесячных арендных выплат от
                            управляющей компании с первого года и в течение определенного срока (1-5
                            лет). Количество апартаментов, участвующих в программе ограничено</h4>

                        <div class="programBox">
                            <div class="programBox__icon">
                                <img src="img/finance/programicon.svg" alt="">
                            </div>
                            <div class="programBox__text">
                                Сдача апартамента
                                в среднесрочный и долгосрочный период (от 1 мес.)
                            </div>
                        </div>

                        <ul class="programList">
                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-2.svg" alt="">
                                </div>
                                <div class="programList__text">Собственнику предлагается заключить
                                    Агентский Договор с управляющей компанией, которая полностью
                                    возьмет на себя обязательства по сдаче апартамента в
                                    среднесрочную аренду
                                </div>
                            </li>

                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-3.svg" alt="">
                                </div>
                                <div class="programList__text">Размер выплат инвестору зависит от
                                    сдачи управляющей компании апартамента в аренду и составляет 85%
                                    валового дохода от сдачи номера
                                </div>
                            </li>

                            <li class="programList__item">
                                <div class="programList__icon">
                                    <img src="img/finance/program-1.svg" alt="">
                                </div>
                                <div class="programList__text">Номера передаются собственнику с
                                    отделкой, меблировкой и пакетом арендатора
                                </div>
                            </li>
                        </ul>

                        <h2>Вступить в программу</h2>

                        <form action="/" class="form">
                            <div class="form__left">
                                <div class="form__field">
                                    <label class="label">Ваше имя:</label>
                                    <input type="text" class="input">
                                </div>

                                <div class="form__field">
                                    <label class="label">Телефон:</label>
                                    <input type="text" class="input" name="phone">
                                </div>
                            </div>
                            <div class="form__right">
                                <button class="btn btn-primary">отправить заявку</button>
                            </div>
                        </form>

                    </article>
                </div>
            </div>
        </div>

        <div class="popup popup--calculator" id="calculator">
            <a href="#" class="btn btn-close">{{ mixins.icon('close') }}</a>
            <div class="calculator">
                <div class="calculator__head">
                    <div class="calculator__title">Калькулятор доходности</div>
                </div>
                <div class="tabs">
                    <div class="tabsList">
                        <div class="tabsList__item">
                            <a href="#" class="tab1 is-active">По площади</a>
                        </div>

                        <div class="tabsList__item">
                            <a href="#" class="tab2">
                                <span class="hidden-mobile">По сумме инвестиций</span>
                                <span class="hidden-desktop">По сумме</span>
                            </a>
                        </div>
                    </div>

                    <div class="tabsBox">
                        <div class="tabs__con tabs__con_tab1 is-active">
                            <form action="http://www.mocky.io/v2/5be16f6f3000006300d9a988"
                                  class="form form--calculator form--calculator-square">
                                <div class="form__field form__field--type">
                                    <label class="label">Тип номера</label>
                                    <select name="typeFlat" class="js-select">
                                        <option value="1" >Стандарт 18.35 - 26.35 m²</option>
                                        <option value="2" >Супериор 34 - 41 m²</option>
                                        <option value="3" >Делюкс 34 - 41 m²</option>
                                        <option value="4" >Сьют 34 - 41 m²</option>
                                    </select>
                                </div>

                                <div class="form__field form__field--square">
                                    <label class="label">Площадь номера</label>
                                    <select name="squareFlat" class="js-select">
                                        <option value="15">31,20 m²</option>
                                        <option value="20">32,20 m²</option>
                                    </select>
                                </div>

                                <div class="form__bottom">
                                    <div class="form__button">
                                        <button class="btn btn-secondary" type="submit">Рассчитать доход</button>
                                    </div>

                                    <div class="form__text">
                                        Калькулятор доходности поможет рассчитать Вашу прибыль и подобрать оптимальную программу доходности
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tabs__con tabs__con_tab2">
                            <form action="http://www.mocky.io/v2/5be16f6f3000006300d9a988"
                                  class="form form--calculator form--calculator-invest">
                                <div class="form__field">
                                    <label class="label">Сумма инвестиций</label>
                                    <select name="invest" class="js-select">
                                        <option value="4.4">4,4</option>
                                        <option value="5.5">5,5</option>
                                    </select>
                                </div>

                                <div class="form__bottom">
                                    <div class="form__button">
                                        <button class="btn btn-secondary" type="submit">Рассчитать доход</button>
                                    </div>

                                    <div class="form__text">
                                        Калькулятор доходности поможет рассчитать Вашу прибыль и подобрать оптимальную программу доходности
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="calculatorOffer">
                            <div class="calculatorOffer__button">
                                <a href="#" class="">
                                    Расчитать заново
                                </a>
                            </div>
                            <div class="calculatorOffer__info">
                                <table>
                                    <tr>
                                        <td>Тип номера</td>
                                        <td>
                                            <strong>Супериор</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Площадь</td>
                                        <td>45 m2</td>
                                    </tr>
                                    <tr>
                                        <td>Инвестиции</td>
                                        <td>5,6 млн</td>
                                    </tr>
                                    <tr>
                                        <td>Ежемесячный доход</td>
                                        <td>
                                            <strong>134.000</strong>
                                            ₽
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Срок окупаемости</td>
                                        <td>
                                            <strong>5</strong>
                                            лет
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="calculatorOffer__preview" style="background-image: url('img/preview.jpg');"></div>

                            <div class="calculatorOffer__bottom">
                                <form action="/" class="form form--calculatorOffer">
                                    <div class="form__field">
                                        <input type="text" class="input" name="phone">
                                    </div>
                                    <div class="form__button">
                                        <button class="btn btn-secondary" type="button">Отправить заявку</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
