<div class="section section--location">
    <div class="i-content section__inner">
        <div class="section__head">
            <span>Локация</span>
        </div>
        <div class="location">
            <div class="location__left locationBox">
                <div class="location__title section__title">
                    УДОБНАЯ
                    ЛОКАЦИЯ
                </div>

                <div class="location__text">
                    Проект способный привлечь инвесторов и конечных пользователей, «оживить» данную часть Васильевского острова, а также стать современным украшением Санкт-&nbsp;Петербурга.
                </div>
            </div>
            <div class="location__right">
                <div id="locationMap"></div>
                <a href="#" class="btn btn-primary" data-popup="#locationModal">увеличить карту</a>
            </div>
        </div>
    </div>
</div>
