{% set flats = [
    {
        title: 'Стандарт',
        info: '18.35 до 26,35 кв.м'
    },
    {
        title: 'Супериор',
        info: '18.35 до 26,35 кв.м'
    },
    {
        title: 'Делюкс',
        info: '18.35 до 26,35 кв.м'
    },
    {
        title: 'Сьют',
        info: '18.35 до 26,35 кв.м'
    }
] %}

<div class="section section--plans">
    <div class="i-content section__inner">
        <div class="section__head">
            <span>Планировки</span>
        </div>
        <div class="plans">
            <div class="plans__title">
                Доступны различные варианты номеров с доходностью <span>ДО 17,8% годовых</span>
            </div>

            <div class="flatsList">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for item in flats %}
                            <div class="swiper-slide">
                                <div class="card card--flat" data-label="{{ item.title }}">
                                    <a href="#" class="card__link" data-type-id="{{ loop.index }}" data-popup="#selectionNumber"></a>
                                    <div class="card__photo"
                                         style="background-image: url('img/flats/item{{ loop.index }}.jpg');"></div>
                                  <div class="card__body">
                                      <div class="card__title">{{ item.title }}</div>
                                      <div class="card__info">{{ item.info }}</div>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            
            <div class="plans__bottom">
                <a href="javascript:void(0);" class="btn btn-primary btn--sm" data-popup="#canvasObject">
                    <span class="hidden-mobile">Смотреть все номера</span>
                    <span class="hidden-desktop">Выбрать юнит</span>
                </a>
            </div>

        </div>
    </div>

</div>
