<div class="section section--progress">
    <div class="i-content section__inner">
        <div class="section__head">
            <span>
                Прогресс
            </span>
        </div>
        <div class="stages">
            <div class="stages__head">
                <div class="stages__title">
                    Этапы строительства
                </div>

                <ul class="stagesNav stagesNav--rounds">
                    <li class="stagesNav__item">
                        <a href="http://www.mocky.io/v2/5be2d9472f00004a00ca213a" class="is-active"
                           data-round="1">ПЕРВАЯ ОЧЕРЕДЬ</a>
                    </li>
                    <li class="stagesNav__item">
                        <a href="http://www.mocky.io/v2/5be2d9472f00004a00ca213a" data-round="2">ВТОРАЯ
                            ОЧЕРЕДЬ</a>
                    </li>
                </ul>

                <ul class="stagesNav stagesNav--years">
                    <li class="stagesNav__item">
                        <a href="#" class="is-active">2018</a>
                    </li>
                    <li class="stagesNav__item">
                        <a href="#">2019</a>
                    </li>
                    <li class="stagesNav__item">
                        <a href="#">2020</a>
                    </li>
                    <li class="stagesNav__item">
                        <a href="#">2021</a>
                    </li>
                    <li class="stagesNav__item">
                        <a href="#">2022</a>
                    </li>
                </ul>
            </div>

            <div class="stages__body">
                <ul class="stagesMonths">
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Январь
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Февраль
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Март
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Апрель
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Май
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Июнь
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Июль
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Август
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#">
                            Сентябрь
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-active">
                            Октябрь
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Ноябрь
                        </a>
                    </li>
                    <li class="stagesMonths__item">
                        <a href="#" class="is-disabled">
                            Декабрь
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsBox">
            <div class="newsBox__body">
                <div class="newsBox__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div data-month="Сентябрь" class="swiper-slide">
                                <div class="card card--news" data-single="1">
                                    <a href="#" class="card__link" data-popup="#single"></a>
                                    <div class="card__photo"
                                         style="background-image: url('img/news.jpg');"></div>
                                    <div class="card__body">
                                        <div class="card__title">Установка систем видеонаблюдения</div>
                                        <div class="card__date">
                                            22 сентябрь 2018
                                        </div>
                                        <div class="card__text">
                                            Текст новости или события #1, находится тут и
                                            может
                                            располагаться в три или четыре строки
                                        </div>
                                        <div class="card__bottom">
                                            <a href="#">
                                                {{ mixins.icon('arrow-long-right') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-month="Сентябрь" class="swiper-slide">
                                <div class="card card--news" data-single="1">
                                    <a href="#" class="card__link" data-popup="#single"></a>
                                    <div class="card__photo"
                                         style="background-image: url('img/news.jpg');"></div>
                                    <div class="card__body">
                                        <div class="card__title">Установка систем видеонаблюдения</div>
                                        <div class="card__date">
                                            22 сентябрь 2018
                                        </div>
                                        <div class="card__text">
                                            Текст новости или события #1, находится тут и
                                            может
                                            располагаться в три или четыре строки
                                        </div>
                                        <div class="card__bottom">
                                            <a href="#">
                                                {{ mixins.icon('arrow-long-right') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-month="Октябрь" class="swiper-slide">
                                <div class="card card--news" data-single="1">
                                    <a href="#" class="card__link" data-popup="#single"></a>
                                    <div class="card__photo"
                                         style="background-image: url('img/news.jpg');"></div>
                                    <div class="card__body">
                                        <div class="card__title">Установка систем видеонаблюдения</div>
                                        <div class="card__date">
                                            22 октябрь 2018
                                        </div>
                                        <div class="card__text">
                                            Текст новости или события #1, находится тут и
                                            может
                                            располагаться в три или четыре строки
                                        </div>
                                        <div class="card__bottom">
                                            <a href="#">
                                                {{ mixins.icon('arrow-long-right') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-month="Октябрь" class="swiper-slide">
                                <div class="card card--news" data-single="1">
                                    <a href="#" class="card__link" data-popup="#single"></a>
                                    <div class="card__photo"
                                         style="background-image: url('img/news.jpg');"></div>
                                    <div class="card__body">
                                        <div class="card__title">Установка систем видеонаблюдения</div>
                                        <div class="card__date">
                                            22 октябрь 2018
                                        </div>
                                        <div class="card__text">
                                            Текст новости или события #1, находится тут и
                                            может
                                            располагаться в три или четыре строки
                                        </div>
                                        <div class="card__bottom">
                                            <a href="#">
                                                {{ mixins.icon('arrow-long-right') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-controls">
                        <a href="#" class="btn btn-link" data-popup="#newsModal">
                            Все новости
                        </a>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-controls__buttons">
                            <div class="swiper-button swiper-button-prev">
                                {{ mixins.icon('arrow-prev') }}
                            </div>
                            <div class="swiper-button swiper-button-next">
                                {{ mixins.icon('arrow-next') }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="popup popup--news" id="single">
            <a href="#" class="btn btn-close">
                {{ mixins.icon('close') }}
            </a>

            <div class="single">
                <div class="single__content">
                    <div class="single__body"></div>
                </div>
            </div>
        </div>

        <div class="popup popup--newsModal" id="newsModal">
            <a href="#" class="btn btn-close">
                {{ mixins.icon('close') }}
            </a>

            <div class="newsModal">
                <div class="newsModal__title">Новости и события проекта</div>
                <div class="newsModal-years">
                    <div class="newsModal-years__item">
                        <a href="#">2019</a>
                    </div>
                    <div class="newsModal-years__item">
                        <a href="#" class="is-active">2018</a>
                    </div>
                    <div class="newsModal-years__item">
                        <a href="#">2017</a>
                    </div>
                </div>
                <div class="newsModal__body" data-simplebar="">
                    <div class="newsModal__list">
                        {% for item in range(0,5) %}
                            <div class="card card--news-row" data-single="1">
                                <a href="#" class="card__link"></a>
                                <div class="card__photo"
                                     style="background-image: url('img/news.jpg');"></div>
                                <div class="card__body">
                                    <div class="card__title">Установка систем видеонаблюдения</div>
                                    <div class="card__date">22 февраля 2018</div>
                                    <div class="card__text">Текст новости или события, находится тут и может располагаться в три или четыре строки</div>
                                    <div class="card__bottom">
                                        <a href="#">
                                            {{ mixins.icon('arrow-long-right') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="newsModal__more">
                        <a href="#" class="btn btn-orange-border">Загрузить еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
