#calculator {
	background-color: $primary-color;
	top: -1px;

	@include r($xs-breakpoint) {
		top: 0;
		//top: 16px;
		//bottom: auto;
		//left: 16px;
		//right: 16px;
	}

	.calculator {
		height: 100%;
	}
}

.calculator {
	padding: rem(40px) rem(45px);
	transition: .3s all;

	@include r($xs-breakpoint) {
		overflow-y: auto;
		padding: rem(85px) rem(27px);
	}

	&.is-loading {
		filter: blur(5px);
		pointer-events: none;
	}

	&__title {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: rem(30px);

		@include r($xs-breakpoint) {
			line-height: rem(31px);
			font-size: rem(24px);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			margin-bottom: rem(23px);
		}
	}
}

.calculator .tabs {

	&List {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #1F1F1F;
		padding-bottom: rem(15px);

		&__item {
			@include r($xs-breakpoint) {
				width: 50%;
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem(45px);
			font-size: rem(16px);
			text-align: center;
			border: 3px solid transparent;
			padding: 0 rem(28px);

			@include r($xs-breakpoint) {
				padding: 0 15px;
				white-space: nowrap;
			}

			&:hover {
				color: #1F1F1F;
			}

			&.is-active {
				border-color: #1F1F1F;
			}
		}
	}

	.tabsBox {
		margin-top: rem(28px);
		position: relative;

		@include r($xs-breakpoint) {
			margin-top: rem(28px);
		}
	}

	.form__field {
		padding-left: rem(167px);

		@include r($xs-breakpoint) {
			padding-left: 0;

			> .label {
				margin-bottom: 10px;
			}
		}

		&:not(:first-child) {
			margin-top: rem(20px);
		}
	}

	.form__bottom {
		padding-left: rem(167px);
		margin-top: rem(44px);

		@include r($xs-breakpoint) {
			padding-left: 0;
			margin-top: rem(32px);
		}

		.btn {
			height: rem(56px);
			padding: 0 rem(60px);
		}
	}

	.selectric-hover .selectric{
		border-color: transparent;
	}

	.selectric-wrapper {
		min-width: rem(120px);
	}
}


.form__text {
	line-height: rem(18px);
	font-size: rem(14px);
	max-width: rem(442px);
	margin-top: rem(17px);
}

.tabs__con.is-active.is-hidden {
	display: none;
}

.calculatorOffer {
	display: none;
	justify-content: space-between;
	flex-flow: wrap;
	background-color: $primary-color;

	@include r($xs-breakpoint) {
		margin-top: rem(35px);
	}

	&.is-active {
		display: flex;

		@include r($xs-breakpoint) {
			display: block;
		}
	}

	&__button {
		position: absolute;
		bottom: 100%;
		right: 0;
		margin-bottom: rem(45px);

		@include r($xs-breakpoint) {
			bottom: auto;
			top: 100%;
			margin-bottom: 0;
			margin-top: rem(10px);
			left: 0;
			z-index: 3;
			text-align: center;
		}

		a {
			display: inline-block;
			padding: rem(12px);
			line-height: rem(18px);
			font-size: rem(14px);

			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
	}

	&__info {
		width: percentage(340/637);

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	&__preview {
		width: rem(150px);
		height: rem(210px);
		@include cover();
		margin-top: rem(-10px);

		@include r($xs-breakpoint) {
			margin: rem(5px) auto 0;
			width: rem(285px);
			height: rem(399px);
		}
	}

	&__bottom {
		width: 100%;
	}
}

.calculatorOffer table {
	width: 100%;

	td {
		vertical-align: middle;
		padding-bottom: rem(20px);

		@include r($xs-breakpoint) {
			padding-bottom: rem(19px);
			font-size: rem(14px);
		}
	}

	strong {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

.form.form--calculatorOffer {
	display: flex;
	align-items: center;
	margin-top: rem(7px);

	@include r($xs-breakpoint) {
		display: block;
		margin-top: rem(25px);
		padding: 0 rem(5px);
	}

	.form__field {
		padding-left: 0;
		width: percentage(252/643);

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	.form__button {
		width: percentage(391/643);

		@include r($xs-breakpoint) {
			width: 100%;
		}
	}

	.input {
		height: rem(60px);
		background-color: #fff;
		font-weight: 900;
		font-size: rem(20px);
		text-transform: uppercase;
		padding-left: rem(24px);
		width: 100%;

		@include r($xs-breakpoint) {
			height: rem(48px);
		}
	}

	.btn {
		min-width: rem(239px);
		width: 100%;

		@include r($xs-breakpoint) {
			height: rem(48px);
		}
	}
}
