#canvasObject.is-loading {

	.canvasObject {
		filter: blur(2px);
		pointer-events: none;
	}
}

.canvasObject {
	height: 100%;
	position: relative;
	z-index: 2;
	transition: .3s all;

	&__title {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding: rem(43px) rem(64px);
		position: relative;
		z-index: 2;
		pointer-events: none;
		color: #fff;
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;

			> rect {
				pointer-events: none;
			}
		}
	}

	&__button {
		position: absolute;
		bottom: rem(24px);
		right: rem(14px);
	}
}

[data-canvas-floor] {
	opacity: 0;
	transition: .3s all;
	display: block;

	&:hover {
		opacity: 1;
	}
}
