.is-show-gallery {

	.footer {

		@include r($xs-breakpoint) {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}

	.fp-right {
		opacity: 0;
		visibility: hidden;
	}

	.page-column:before {
		opacity: 0;
		visibility: hidden;
	}

	.gallery__button {

		svg {
			transform: rotate(180deg);

			@include r($xs-breakpoint) {
				transform: rotate(90deg);
			}
		}

		span.state-default {
			display: none;
		}

		span.state-active {
			display: block;
		}
	}
}

.gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include cover();

	&__button {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		z-index: 20;
		min-height: rem(200px);

		color: #FFFFFF;

		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: rem(84px);

		@include r($mob) {
			min-height: auto;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 3.5rem;
		}


		svg {
			width: rem(17px);
			height: rem(17px);
			position: relative;
			top: rem(-35px);
			transition: .3s all;


			@include r($xs-breakpoint) {
				top: -2px;
				transform: rotate(-90deg);
				margin-right: 10px;
			}
		}

		span {
			position: relative;
			display: block;
			transform: rotate(-90deg);
			
			@include r($xs-breakpoint) {
				transform: rotate(0deg);
			}
		}

		span.state-default {

		}

		span.state-active {
			display: none;
		}
	}

	.gallery-slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.swiper-slide {
			width: 100% !important;
		}
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-right: rem(30px);
		padding-bottom: rem(22px);
		z-index: 5;
		text-align: right;
		opacity: 0;
		visibility: hidden;

		a {
			font-weight: 900;
			line-height: rem(19px);
			font-size: rem(12px);
			text-align: right;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-family: $font-title;
			color: #FFFFFF;
			display: inline-block;

			&:not(:first-child) {
				margin-left: rem(47px);
			}
		}
	}

	&__close {
		opacity: 0;
		visibility: hidden;

		@include r($xs-breakpoint) {
			display: none;
		}
	}
}


.gallery-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.swiper-slide {
		@include cover();
	}

	.swiper-controls {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		display: flex;
		padding-right: rem(30px);
		z-index: 5;
		opacity: 0;
		visibility: hidden;

		@include r($xs-breakpoint) {
			padding-right: 16px;
			top: auto;
			transform: translateY(0%);
			bottom: 50px + 56px;
		}
	}

	.swiper-button {
		position: relative;
		margin-top: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: rem(60px);
		height: rem(60px);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $black;
		background-image: none;

		svg {
			fill: #fff;
			width: rem(10px);
			height: rem(16px);
		}
		
		&-prev {
			background-color: #fff;

			svg {
				fill: $black;
			}
		}
	}
}
