.menuMobile {
	//position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: rgba(#1F1F1F, .98);
	opacity: 0;
	visibility: hidden;
	transition: .3s all;
	padding-top: rem(132px);
	
	&.is-active {
		opacity: 1;
		visibility: visible;
	}


	.container {
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		padding-bottom: rem(50px);
		overflow-y: auto;
	}

	.nav {
		display: block;
	}

	&__center {
		padding-top: rem(48px);


		.phone {
			margin-top: rem(22px);
			margin-bottom: rem(44px);
		}
	}


	.btn-search {
		width: rem(40px);
		text-align: center;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(30px) 0 rem(18px);
	}
}
