.nav {
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	@include r($xs-breakpoint) {
		display: none;

		position: relative;
		top: 0;
		transform: none;
	}

	.menu {
		overflow: hidden;
	}
	
	a {
		color: #8C8C8C;
		font-family: $font-title;
		font-size: rem(22px);
		font-weight: 700;
		position: relative;
		display: block;
		min-width: rem(424px);

		span {
			position: relative;
			display: inline-block;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translateY(-50%);
				background: #EFAE05;
				width: 0;
				margin-top: rem(4px);
				height: rem(4px);
				margin-left: rem(10px);
				transition: .45s ease-in-out width;

				@include r($xs-breakpoint) {
					margin-left: rem(20px);
				}
			}
		}
		
		&:hover {
			color: #fff;
		}
	}


	.menu__item:not(:first-child) {
		margin-top: rem(12px);
	}


	.menu__item.active {

		a {
			font-size: rem(64px);
			font-weight: 900;
			color: #fff;

			@include r($xs-breakpoint) {
				font-size: rem(50px);
			}

			span {
				&:before {
					width: 100%;
					transition-delay: .2s;
				}
			}
		}
	}
}
