.tabs__con {
	display: none;

	&.is-active {
		display: block;
	}
}

.newsBox {
	border: 2px solid #A5A5A5;
	color: #fff;
	padding: rem(32px) rem(35px);

	&__title {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
	}

	&__slider {
		margin: 0 rem(-2px) 0;
		position: relative;
		height: 100%;
	}

	&__body {
		height: 100%;
	}

	.swiper-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		left: 0;
		right: rem(-35px);
		bottom: rem(-34px);
		
		@include r($xs-breakpoint) {
			bottom: rem(-34px);
		}

		.btn-link {
			position: absolute;
			bottom: 100%;
			right: rem(10px);
			z-index: 3;
			margin-bottom: rem(16px);
		}

		.swiper-pagination {
			position: relative;
			bottom: rem(2px);
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			min-height: rem(8px);
			z-index: 2;

			&-bullet {
				opacity: 1;
				width: rem(4px);
				height: rem(4px);
				background-color: #a5a5a5;
				margin: 0 rem(3px);

				&-active {
					width: rem(8px);
					height: rem(8px);
					background-color: $primary-color;
				}
			}
		}
	}

	.swiper-controls__buttons {
		 position: relative;
		 display: flex;
		 align-items: center;

		 .swiper-button {
			 margin-top: 0;
			 position: relative;
			 top: 0;
			 left: 0;
			 right: 0;
			 bottom: 0;
			 width: rem(60px);
			 height: rem(60px);
			 border: rem(2px) solid #A5A5A5;
			 background-image: none;
			 display: flex;
			 align-items: center;
			 justify-content: center;

			 &-next {
				 background-color: #A5A5A5;
				 margin-left: rem(-3px);
			 }

			 svg {
				 width: rem(10px);
				 height: rem(17px);
			 }
		 }
	 }
}

.card--news {
	position: relative;

	.card__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.card__photo {
		height: rem(150px);
		@include cover();
	}

	.card__body {
		padding: rem(17px) 0;

		@include r($xs-breakpoint) {
			padding: rem(17px) 0 rem(70px);
		}
	}

	.card__title {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.card__date {
		font-size: rem(14px);
	}

	.card__text {
		line-height: rem(21.5px);
		font-size: rem(16px);
		margin-top: rem(10px);
	}

	.card__bottom {
		padding-top: rem(17px);

		a {
			svg {
				fill: $orange;
				width: rem(46px);
				height: rem(12px);
			}
		}
	}
}
