.newsModal {
	padding: rem(45px) rem(44px);
	height: 100%;

	@include r($xs-breakpoint) {
		padding: rem(45px) rem(8px);
	}

	&__title {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: rem(25px)
	}

	&-years {
		display: flex;
		align-items: center;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		font-weight: 900;

		a {
			display: block;
			border: 2px solid transparent;
			padding: rem(3px) rem(12px);
			color: #8C8C8C;


			&:hover {
				color: $black;
			}

			&.is-active {
				pointer-events: none;
				border-color: $primary-color;
				color: $primary-color;
			}
		}
	}
}

.newsModal__body {
	margin-left: rem(-16px);
	height: calc(100% - 1.75rem - 3.5rem);
	margin-top: rem(29px);
	margin-right: rem(-30px);
}

.newsModal__more {
	padding-right: rem(40px);
	margin-top: rem(44px);
}

.newsModal__list {
	padding-right: rem(40px);

	@include r($xs-breakpoint) {
		padding-right: 0;
	}
}

.card--news-row {
	position: relative;
	padding: rem(16px);
	transition: .3s all;

	&:hover {
		background-color: #fff;
	}

	.card__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	.card__photo {
		@include cover();
		width: rem(238px);
		height: rem(150px);
		position: absolute;
		top: rem(16px);
		left: rem(16px);

		@include r($xs-breakpoint) {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: rem(180px);
		}
	}

	.card__body {
		padding-left: rem(281px);
		min-height: rem(150px);
		display: flex;
		flex-flow: column;
		max-width: rem(308px) + rem(281px);

		@include r($xs-breakpoint) {
			padding-left: 0;
			margin-top: 14px;
		}
	}

	.card__title {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.card__date {
		line-height: rem(19px);
		font-size: rem(14px);
		margin-top: rem(2px);
	}

	.card__text {
		line-height: rem(21px);
		font-size: rem(16px);
		margin-top: 8px;
	}

	.card__bottom {
		margin-top: auto;

		@include r($xs-breakpoint) {
			padding-top: 20px;
		}

		a {
			svg {
				width: rem(32px);
				height: rem(12px);
				fill: $primary-color;
			}
		}
	}
}
