.nextStep {
	margin: rem(35px) -16px 0;
	background-color: $black;
	text-align: center;
	padding: rem(15px) 0;

	&__title {
		color: $primary-color;
		line-height: rem(18px);
		font-size: rem(14px);
	}

	&__section {
		line-height: rem(26px);
		font-size: rem(20px);
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 900;
		color: #fff;
		margin-top: rem(11px);
	}

	&__arrow {
		margin-top: rem(10px);

		svg {
			width: rem(17px);
			height: rem(38px);
		}
	}
}
