.objectFloorsNav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: rem(92px);
	background-color: #ECECEC;
	text-align: center;
	padding: rem(47px) 0;

	&__title {
		line-height: rem(25px);
		font-size: rem(18px);
		font-weight: 700;
	}
}

.form--floors {
	margin-top: rem(15px);
	display: flex;
	flex-flow: column-reverse;
	justify-content: center;

	>div:not(:first-child) {
		margin-bottom: 4px;
	}
}

.floorNumber {
	font-size: rem(18px);
	font-weight: 700;
	position: relative;
	margin: 0 auto;

	[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;

		&:hover + span{
			background-color: #E0E0E0;
		}

		&:checked + span {
			background-color: $primary-color;
		}
	}

	span {
		width: rem(50px);
		height: rem(50px);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s all;

		@include r($xs-breakpoint) {
			width: rem(35px);
			height: rem(40px);
			font-size: rem(20px);
		}
	}
}
