.objectRooms {
	height: 100%;
	background-color: #F2F2F2;

	&__title {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__body {
		display: flex;
		height: 100%;
		box-shadow: -2px 4px 30px rgba(0, 0, 0, 0.05);
		padding: rem(44px) rem(38px);
		margin-left: rem(92px);
		position: relative;
		z-index: 1;

		> div {
			height: 100%;
		}
	}

	&__left {
		width: percentage(223/1129);
	}

	&__right {
		width: percentage(910/1129);
		height: 100%;
	}

	&__scheme {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		width: rem(940px);
		height: rem(520px);

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.objectRooms__left {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}


.objectRooms__info {
	line-height: rem(18px);
	font-size: rem(14px);
	color: #1F1F1F;

	li {
		position: relative;
		padding-left: rem(40px);

		&:not(:first-child) {
			margin-top: rem(21px);
		}

		span {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: rem(24px);
			height: rem(24px);
			border: 1px solid #A4B0C2;
		}
	}
}


[data-apartment] {
	display: block;

	&:hover {
		> * {
			fill-opacity: 1;
		}
	}

	&.is-disabled {
		pointer-events: none;

		> * {
			fill: #A4B0C2;
			fill-opacity: 1;
		}
	}

	> * {
		transition: .3s all;
	}
}
