.previewRoom {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;

	&__photo {
		width: rem(278px);
		height: rem(390px);
		background-color: #fff;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0 auto;
	}

	.swiper-container {
		padding-bottom: rem(21px);
		width: 100%;

		@include r($xs-breakpoint) {
			padding-bottom: rem(28px);
		}
	}

	.swiper-pagination {
		bottom: 0;
		min-height: rem(8px);
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		left: rem(5px);
		right: 0;

		&-bullet {
			opacity: 1;
			width: rem(4px);
			height: rem(4px);
			background-color: #a5a5a5;
			margin: 0 rem(3px) !important;

			&-active {
				width: rem(8px);
				height: rem(8px);
				background-color: $primary-color;
			}
		}
	}

	.swiper-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		right: 0;
		bottom: 0;

		.swiper-pagination {
			position: relative;
			bottom: rem(2px);
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			min-height: rem(8px);
			z-index: 2;

			&-bullet {
				opacity: 1;
				width: rem(4px);
				height: rem(4px);
				background-color: #a5a5a5;
				margin: 0 rem(3px);

				&-active {
					width: rem(8px);
					height: rem(8px);
					background-color: $primary-color;
				}
			}
		}
	}

	.swiper-controls__buttons {
		position: relative;
		display: flex;
		align-items: center;

		.swiper-button {
			margin-top: 0;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: rem(60px);
			height: rem(60px);
			border: rem(2px) solid #A4A4A4;
			background-image: none;
			display: flex;
			align-items: center;
			justify-content: center;

			&:not([role="button"]) {
				opacity: 0;
				visibility: hidden;
			}

			&-next {
				margin-left: rem(-2px);
			}

			&:hover {
				background-color: #A4A4A4;

				svg {
					fill: #fff;
				}
			}

			svg {
				width: rem(10px);
				height: rem(17px);
				filL: #A4A4A4;
			}
		}
	}

	&__bottom {
		padding-top: rem(25px);
		position: relative;
		display: flex;
		align-items: flex-end;
		min-height: 3.75rem;

		@include r($xs-breakpoint) {
			padding-top: rem(20px);
		}

		.btn:not(:first-child) {
			margin-top: rem(13px);

			@include r($xs-breakpoint) {
				margin-top: 0;
			}
		}
	}

	&__actions {

		@include r($xs-breakpoint) {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__controls {

		@include r($xs-breakpoint) {
			display: none;
		}
	}
}
