.priceBox {
	display: flex;
	align-items: flex-end;
	white-space: nowrap;

	@include r($xs-breakpoint) {
		text-align: center;
		display: block;
	}

	&__title {
		font-weight: 700;
		line-height: rem(25px);
		font-size: rem(18px);

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	&__value {
		font-weight: 900;
		line-height: rem(52px);
		font-size: rem(50px);
		letter-spacing: 0.1em;
		margin-left: rem(25px);

		@include r($xs-breakpoint) {
			margin-left: 0;
		}
	}
}
