.profitBox {

	&__title {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #1F1F1F;

		@include r($xs-breakpoint) {
			max-width: rem(231px);
		}
	}

	&__body {
		margin-top: rem(48px);

		@include r($xs-breakpoint) {
			margin-top: rem(23px);
		}

		tr {

		}

		tr:not(:first-child) {
			border-top: 1px solid #C4C4C4;

			td {
				padding-top: rem(15px);

				@include r($xs-breakpoint) {
					padding-top: rem(13px);
				}
			}
		}

		td {
			line-height: rem(25px);
			font-size: rem(18px);
			font-weight: 700;
			text-align: right;
			vertical-align: bottom;
			padding-bottom: rem(17px);

			@include r($xs-breakpoint) {
				padding-bottom: rem(16px);
			}
		}

		td:first-child {
			line-height: rem(20px);
			font-size: rem(16px);
			font-weight: normal;
			width: 50%;
			text-align: left;

			@include r($xs-breakpoint) {
				width: 40%;
			}
		}
	}

	&__bottom {
		
		@include r($xs-breakpoint) {
			margin: 0 rem(-13px) 0;
		}
	}
}
