.resultBox {
	font-size: rem(16px);
	width: 100%;
	height: 100%;

	@include r($xs-breakpoint) {
		font-size: 13px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 rem(17px);
		max-width: rem(460px);

		@include r($xs-breakpoint) {
			padding: 0;
		}
	}

	.simplebar-content {

		@include r($xs-breakpoint) {
			padding-right: 0 !important;
		}
	}

	&__col {
		text-align: center;
		display: inline-block;

		&:nth-child(1) {
			min-width: rem(69px);
		}
		&:nth-child(2) {
			min-width: rem(100px);
			text-align: left;

			@include r($xs-breakpoint) {
				min-width: rem(85px);
			}
		}
		&:nth-child(3) {
			min-width: rem(100px);

			@include r($xs-breakpoint) {
				min-width: rem(85px);
			}
		}
		&:nth-child(4) {
			min-width: rem(100px);

			@include r($xs-breakpoint) {
				min-width: rem(85px);
			}
		}
	}

	&__head {
		margin-bottom: rem(15px);
	}

	&__body {

		&.is-loading {
			filter: blur(5px);
			pointer-events: none;
		}

		.resultBox__row {
			background-color: rgba(#fff, .1);
			min-height: rem(63px);
			align-items: center;
			margin-bottom: rem(2px);
			cursor: pointer;

			&:hover {
				background-color: $primary-color;
				color: $black;
			}
		}

		.resultBox__col {

		}
	}
}
