#roomCard {

	&.is-loading {

		.roomCard {
			filter: blur(5px);
			pointer-events: none;
		}
	}

	.btn-close {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	}
}

.roomCard {
	display: flex;
	height: 100%;
	position: relative;

	@include r($xs-breakpoint) {
		height: 100%;
		display: flex;
		flex-flow: column;
		overflow: hidden;
		margin: -16px;
	}

	&__back {
		position: absolute;
		top: 0;
		left: 0;

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	&__left {
		width: percentage(564/1328);
		background-color: #E7E7E7;
		padding: rem(95px) rem(130px) rem(130px);

		@include r($xs-breakpoint) {
			width: 100%;
			padding: rem(105px) rem(44px) rem(54px);
			order: -1;
		}
	}

	&__center {
		width: percentage(324/1328);
		background-color: #E7E7E7;
		box-shadow: -2px 0px 30px rgba(0, 0, 0, 0.05);
		padding: rem(97px) rem(30px) rem(40px);

		@include r($xs-breakpoint) {
			order: 1;
			box-shadow: none;
			width: 100%;
			padding: rem(49px) rem(44px);
		}

		.profitBox {
			height: 100%;
			display: flex;
			flex-flow: column;

			&__bottom {
				margin-top: auto;

				@include r($xs-breakpoint) {
					margin-top: rem(30px);
				}
			}
		}
	}

	&__right {
		width: percentage(440/1328);
		background-color: #fff;
		box-shadow: -2px 4px 30px rgba(0, 0, 0, 0.05);

		@include r($xs-breakpoint) {
			width: 100%;
			box-shadow: none;
			order: 0;
			padding: 0 rem(40px);
			background-color: #E7E7E7;
		}

		.previewRoom {
			padding: rem(50px) rem(34px) rem(40px);
			height: 100%;

			@include r($xs-breakpoint) {
				padding: 0;
			}
		}
	}

	&__square,
	&__title {
		font-weight: 900;
		line-height: rem(52px);
		font-size: rem(50px);
		letter-spacing: 0.1em;

		@include r($xs-breakpoint) {
			line-height: 38px;
			font-size: 36px;
			letter-spacing: 0.1em;
		}
	}

	&__square {
		margin-top: rem(15px);
		position: relative;

		@include r($xs-breakpoint) {
			margin-top: rem(10px);
		}

		&:after {
			content: 'm²';
			display: inline-block;
		}
	}

	&__floor {
		font-weight: 900;
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-top: rem(26px);
		padding-left: rem(5px);

		@include r($xs-breakpoint) {
			margin-top: rem(20px);
			padding-left: 0;
		}
	}

	&__text {
		line-height: rem(25px);
		font-size: rem(18px);
		margin-top: rem(25px);
		padding-left: rem(5px);

		@include r($xs-breakpoint) {
			padding-left: 0;
			margin-top: rem(20px);
		}
	}

	&__price {
		margin-top: 105px;

		@include r($xs-breakpoint) {
			margin-top: rem(43px);
		}
	}
}


.form.form--roomCard {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: rem(40px);
	left: rem(37px);

	@include r($xs-breakpoint) {
		position: relative;
		bottom: 0;
		left: 0;
		display: block;
		margin-top: rem(25px);
		padding: 0 rem(5px);
	}

	.form__field {
		padding-left: 0;

		span {
			padding-left: 0;
		}
	}

	.input {
		height: rem(60px);
		background-color: #fff;
		font-weight: 900;
		font-size: rem(18px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding-left: rem(14px);
		width: rem(252px);

		@include r($xs-breakpoint) {
			width: 100% !important;
			height: rem(48px);
		}
	}

	.btn {
		min-width: rem(239px);

		@include r($xs-breakpoint) {
			width: 100%;
			height: rem(48px);
		}
	}
}
