.selectionNumber {
	color: #fff;
	padding: rem(58px);
	height: 100%;
	display: flex;
	background-image: url('../img/banner/section-bg.jpg');
	@include cover();
	background-position: center center;

	@include r($xs-breakpoint) {
		padding: rem(113px) rem(16px) rem(40px);
		margin: -16px;
		display: block;
		overflow-y: auto;
		background-image: url('../img/parametr_mob_bg.jpg');
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000, .7);
		pointer-events: none;
	}

	> div {
		position: relative;
	}

	&__left {
		height: 100%;
		display: flex;
		flex-flow: column;
		width: percentage(540/1100);

		@include r($xs-breakpoint) {
			width: 100%;
			height: auto;
		}
	}

	&__right {
		width: percentage(601/1100);
		margin-left: auto;
		padding-top: rem(18px);
		margin-right: rem(-31px);
		padding-left: rem(54px);

		@include r($xs-breakpoint) {
			margin-right: 0;
			padding-top: 0;
			padding-left: 0;
			width: 100%;
			margin-top: rem(60px);
		}
	}

	&__title {
		font-weight: 900;
		line-height: rem(41px);
		font-size: rem(32px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	.form {
		margin-top: rem(51px);

		@include r($xs-breakpoint) {
			margin-top: rem(23px);
		}
	}

	&__bottom {
		margin-top: auto;
		display: flex;
		margin-bottom: rem(-42px);
		margin-left: rem(-70px);

		@include r($xs-breakpoint) {
			display: none;
		}
	}
}

.form--selection {

	.form__field:not(:first-child) {
		margin-top: rem(31px);

		@include r($xs-breakpoint) {
			margin-top: 28px;
		}
	}

	.form__area {
		margin-top: rem(31px);

		@include r($xs-breakpoint) {
			margin-top: 28px;
		}
	}
}

.form__field {
	position: relative;
	padding-left: rem(130px);
	display: flex;
	align-items: center;

	@include r($xs-breakpoint) {
		display: block;
		padding-left: 0;
	}

	> .label {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		@include r($xs-breakpoint) {
			position: relative;
			top: 0;
			transform: none;
			margin-bottom: rem(15px);
			display: block;
		}
	}
}

.form__field--type {

	.selectric-wrapper {
		min-width: rem(280px);
	}
}

.floorNumber__list {
	display: flex;
	align-items: center;
	margin: 0 rem(-4px);

	@include r($xs-breakpoint) {
		margin: 0 -3px;
	}

	.floorNumber {
		margin: 0 rem(4px);

		@include r($xs-breakpoint) {
			margin: 0 2px;
		}

		input {

			&:not(:checked) {

				&:hover + span {
					background-color: transparent;
					color: $primary-color;
				}
			}
		}

		span {
			width: rem(40px);
			height: rem(40px);

			@include r($xs-breakpoint) {
				width: rem(35px);
			}

		}
	}
}

.form__selects {
	display: flex;
	align-items: center;

	.selectric-wrapper {
		min-width: rem(120px);

		@include r($xs-breakpoint) {
			//min-width: 145px;
			min-width: 130px;
		}

		.label {
			font-size: rem(18px);
			line-height: rem(45px);
		}
	}

	> span {
		display: inline-block;
		margin: 0 rem(12px);

		@include r($xs-breakpoint) {
			margin: 0 rem(18px);
		}
	}
}
