.stages {
	background: rgba(11, 11, 11, 0.7);
	color: #fff;
	padding: rem(37px) rem(40px);

	@include r($xs-breakpoint) {
		padding: 18px;
	}

	&__title {
		line-height: rem(26px);
		font-size: rem(20px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		font-weight: 900;
		padding-right: rem(100px);
	}
}

.stagesNav {
	display: flex;
	align-items: center;
	margin-top: rem(25px);

	&.stagesNav--years {
		margin-top: rem(15px);
	}

	&__item:not(:first-child) {
		margin-left: rem(35px);
	}

	a {
		font-weight: 900;
		line-height: rem(19px);
		font-size: rem(12px);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: $font-title;
		color: #8C8C8C;

		&.is-active {
			pointer-events: none;
			color: $yellow;
		}
	}
}

.stages__body {
	margin-top: rem(33px);

	@include r($xs-breakpoint) {
		margin-top: rem(32px);
	}
}

.stages__bottom {
	text-align: center;
	margin-top: 21px;
	display: none;

	@include r($xs-breakpoint) {
		display: block;
	}

	a {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.js-toggle-months.is-active {
	transform: rotate(180deg);
}

.stagesMonths {
	display: flex;
	flex-flow: wrap;
	margin: 0 rem(-5px);

	@include r($xs-breakpoint) {
		margin: rem(-19px) rem(-10px) 0;

		&.is-active {

			.stagesMonths__item {
				display: block;
			}
		}
	}

	&__item {
		width: 33.33%;

		@include r($xs-breakpoint) {
			display: none;

			&.is-showing {
				display: block;
			}
		}

		&:not(:nth-child(-n+3)) {
			margin-top: rem(19px);
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			width: rem(92px);
			height: rem(54px);
			line-height: rem(20px);
			font-size: rem(14px);
			font-weight: 700;


			&.is-disabled {
				color: #8C8C8C;
				pointer-events: none;
			}

			&.is-active {
				color: $black;
				background-color: $orange;
				pointer-events: none;
			}
		}
	}
}
