<svg width='940' height='520' viewBox='0 0 940 520'  preserveAspectRatio="xMinYMin slice" fill='none' xmlns='http://www.w3.org/2000/svg'>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M104 440L122 440V451H131V517H104V440Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='132' y='451' width='27' height='66' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M104 81L122 81V70H131V4H104V81Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect width='27' height='66' transform='matrix(1 0 0 -1 132 70)' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M122 412H54V467H103V439H122V412Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M842 440L823 440V451H815V517H842V440Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect width='27' height='66' transform='matrix(-1 0 0 1 814 451)' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect width='27' height='91' transform='matrix(-1 0 0 1 758 426)' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M823 412H892V467H843V439H823V412Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M122 108H54V53H103V82H122V108Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='54' y='356' width='91' height='27' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='801' y='356' width='91' height='27' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='54' y='137' width='91' height='28' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M842 81L824 81V70H815V4H842V81Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='814' y='70' width='27' height='66' transform='rotate(-180 814 70)' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><path d='M824 108H892V53H843V82H824V108Z' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect width='91' height='28' transform='matrix(-1 0 0 1 892 137)' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='173' y='307' width='43' height='27' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='173' y='279' width='43' height='27' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='173' y='249' width='43' height='29' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='173' y='220' width='43' height='28' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='729' y='301' width='43' height='30' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='729' y='272' width='43' height='28' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='729' y='244' width='43' height='27' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='729' y='215' width='43' height='28' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='729' y='186' width='43' height='28' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='791' y='192' width='51' height='26' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='791' y='166' width='51' height='25' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='243' y='364' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='272' y='364' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='301' y='364' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='329' y='364' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='358' y='364' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='243' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='272' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='301' y='123' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='329' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='358' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='560' y='364' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='589' y='364' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='618' y='364' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='646' y='364' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='560' y='123' width='27' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='588' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='617' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='646' y='123' width='28' height='43' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='301' y='53' width='27' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='329' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='358' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='387' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='501' y='53' width='29' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='531' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='560' y='53' width='27' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='588' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='617' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='646' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
    <a href="javascript:void(0);" data-apartment="1000"><rect x='675' y='53' width='28' height='52' fill='#FFA43A' fill-opacity='0.6' /></a>
</svg>
