<div class="page-column hidden-mobile">
    <div class="page-column__inner">
        <div class="page-column__top">
            <button class="btn btn-camera">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.41421" y="28" width="37.598" height="37.598"
                          transform="rotate(-45 1.41421 28)" stroke="white" stroke-width="2"/>
                    <rect x="18" y="24.0005" width="13" height="9" fill="white"/>
                    <path d="M37.4995 33.4502L32.5497 28.5005L37.4995 23.5507V33.4502Z"
                          fill="white"/>
                </svg>

                <span>
                live
            </span>
            </button>
        </div>


        <button class="btn gallery__button">

            {{ mixins.icon('angle-left') }}

            <span class="state-default">
                Галерея
            </span>

            <span class="state-active">
                Закрыть
            </span>

        </button>
        <div class="page-column__bottom">
            {#<div class="lang">#}
                {#<div class="lang__current">Ru</div>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="#">En</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        </div>
    </div>

    <div class="gallery">

        <a href="#" class="gallery__close btn btn-close">
            {{ mixins.icon('close') }}
        </a>

        <div class="gallery-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url('img/banner/section-bg.jpg');"></div>
                <div class="swiper-slide"
                     style="background-image: url('img/banner/section-bg.jpg');"></div>
            </div>
            <div class="swiper-controls">
                <div class="swiper-button swiper-button-prev">
                    {{ mixins.icon('arrow-prev') }}
                </div>
                <div class="swiper-button swiper-button-next">
                    {{ mixins.icon('arrow-next') }}
                </div>
            </div>
        </div>

        {#<div class="gallery__bottom">#}
            {#<a href="#">MOTIONPIX</a>#}
            {#<a href="#">MASTER DEVELOPMENT</a>#}
        {#</div>#}
    </div>


</div>
