<footer class="footer">
    <div class="container-fluid footer__inner">

        <div class="footer__left hidden-mobile">
            <div class="phone">
                <a href="tel:+7(812)912-34-56">+7(812)401-63-52</a>
            </div>

            <a href="lib/projectdocuments.pdf" target="_blank" class="btn btn-text">Документация</a>

            <a href="#" class="btn btn-text">214 ФЗ</a>
        </div>

        <div class="footer__center hidden-mobile">
            <button class="btn btn-scrollDown">
                {{ mixins.icon('arrow-down') }}
            </button>
        </div>

        <div class="footer__right">
            <a href="#" data-popup="#searchBar" class="btn btn-search hidden-mobile">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="9" r="8" stroke="#BBBBBB" stroke-width="2"/>
                    <rect x="14" y="15.4141" width="2" height="10.2153" transform="rotate(-45 14 15.4141)" fill="#BBBBBB"/>
                </svg>
            </a>

            <button class="btn btn-scale hidden-mobile">
                {{ mixins.icon('scale') }}
            </button>

            <button class="btn btn-camera hidden-desktop">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.41421" y="28" width="37.598" height="37.598"
                          transform="rotate(-45 1.41421 28)" stroke="white" stroke-width="2"/>
                    <rect x="18" y="24.0005" width="13" height="9" fill="white"/>
                    <path d="M37.4995 33.4502L32.5497 28.5005L37.4995 23.5507V33.4502Z"
                          fill="white"/>
                </svg>

                <span>
                live
            </span>
            </button>

            <div class="banner__arrow hidden-desktop">
                <button class="btn btn-scrollDown">
                    {{ mixins.icon('arrow-down') }}
                </button>
            </div>

            <div class="dev hidden-mobile">
                <a href="http://motionpix.ru " target="_blank">
                    motionpix
                </a>
            </div>
        </div>

    </div>
</footer>
