<header class="header {{ headerClass }}">
    <div class="container-fluid header__inner">
        <div class="logo">

            <a href="#banner">
                <img src="img/logo.svg" alt="" class="hidden-mobile">
                <img src="img/logo_mob.svg" alt="" class="hidden-desktop">
            </a>

        </div>

        <ul class="socials hidden-mobile">
            <li class="socials__item">
                <a href="https://www.instagram.com/korablispb/" target="_blank">
                    in
                </a>
            </li>

            <li class="socials__item">
                <a href="https://vk.com/apart_korabli" target="_blank">
                    vk
                </a>
            </li>

            <li class="socials__item">
                <a href="https://www.facebook.com/korablispb/" target="_blank">
                    fb
                </a>
            </li>
        </ul>

        <button class="btn btn-burger hidden-desktop">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>


    </div>
</header>
