{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/app.css"/>
    {# {% include "../partials/_media-tags.html" %} #}

    <meta name="find-apartment" content="http://www.mocky.io/v2/5be0c8cf3200003700649769"/>
    <meta name="find-floor" content="http://www.mocky.io/v2/5bebeb853300006500fbc0f6"/>
    <meta name="find-type-fields" content="http://www.mocky.io/v2/5be1c0ac3000008100d9ab82"/>
    <meta name="find-months" content="http://www.mocky.io/v2/5be2d98b2f00005c00ca213c"/>
    <meta name="find-news" content="http://www.mocky.io/v2/5be2d12c2f00007600ca2117"/>
    <meta name="find-article" content="http://www.mocky.io/v2/5be2d46b2f00004300ca2124"/>
    <meta name="find-floor-info" content="http://www.mocky.io/v2/5beb0ece2f0000d731da3dbc"/>
    <meta name="find-apartment-info" content="http://www.mocky.io/v2/5beb114d2f00002535da3dc2"/>

</head>
<body class="{{ bodyClass }}">

<div class="preloader">
    <div class="ball-scale-ripple-multiple"><div></div><div></div><div></div></div>
</div>

<!-- BEGIN content -->
<div class="out">
    {% include "./_header.html" %}
    {% include "../blocks/_menu.html" %}
    {% include "./_column.html" %}
    {% block content %}{% endblock %}
    {% include "./_footer.html" %}

    <div class="menuMobile">
        <div class="container">
            {% set menu = [
                {
                    title: 'О проекте',
                    src: 'about'
                }, {
                    title: 'Локация',
                    src: 'location'
                }, {
                    title: 'Планировки',
                    src: 'layout'
                },
                {
                    title: 'Финансы',
                    src: 'finance'
                },{
                    title: 'Прогресс',
                    src: 'progress'
                },
                {
                    title: 'Контакты',
                    src: 'contacts'
                }
            ] %}

            <nav class="nav">
                <ul class="menu">
                    {% for item in menu %}
                        <li class="menu__item" data-menuanchor="{{ item.src }}">
                            <a href="#{{ item.src }}">
                                <span>{{ item.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>


            <div class="menuMobile__center">
                <a href="javascript:void(0);" class="btn btn-text">Заказать звонок</a>

                <div class="phone">
                    <a href="tel:+7(812)912-34-56">+7(812)401-63-52</a>
                </div>

                <a href="#" data-popup="#searchBar" class="btn btn-search">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="9" r="8" stroke="white" stroke-width="2"/>
                        <rect x="14" y="15.4141" width="2" height="10.2153" transform="rotate(-45 14 15.4141)" fill="white"/>
                    </svg>
                </a>
            </div>

            <div class="menuMobile__bottom">
                <ul class="socials">
                    <li class="socials__item">
                        <a href="https://www.instagram.com/korablispb/" target="_blank">
                            in
                        </a>
                    </li>

                    <li class="socials__item">
                        <a href="https://vk.com/apart_korabli" target="_blank">
                            vk
                        </a>
                    </li>

                    <li class="socials__item">
                        <a href="https://www.facebook.com/korablispb/" target="_blank">
                            fb
                        </a>
                    </li>
                </ul>

                <div class="dev">
                    <a href="http://motionpix.ru " target="_blank">
                        motionpix
                    </a>
                </div>
            </div>

        </div>
    </div>

    {% include "../blocks/_modals.html" %}

</div>
<!-- END content -->

<!-- BEGIN scripts -->
<script>
  var initConfig = {
    placemarks: [{
      'lat': '59.937562',
      'lng': '30.327825',
      'icon': 'img/map/marker.svg',
    }]
  };

</script>
<script>
  var locationConfig = [
    {
      title: 'Метро',
      placemarks: [
        {
          'title': 'Apartment Korabli',
          'lat': '59.950796',
          'lng': '30.215006',
          'house': true,
          'icon': 'img/map/marker-main.svg'
        }
      ]
    },
    {
      title: 'Транспорт',
      placemarks: [
        {
          'title': 'Apartment Korabli',
          'lat': '59.950796',
          'lng': '30.215006',
          'house': true,
          'icon': 'img/map/marker-main.svg'
        },
        {
          'title': 'Аэропорт',
          'lng': '30.273027',
          'lat': '59.799770',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Московский вокзал',
          'lng': '30.362050',
          'lat': '59.930246',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Ладожский вокзал',
          'lng': '30.441713',
          'lat': '59.931661',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Витебский вокзал',
          'lng': '30.328912',
          'lat': '59.919806',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'ЗСД',
          'lng': '30.214497',
          'lat': '59.961084',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Пассажирский порт',
          'lng': '30.212715',
          'lat': '59.952660',
          'icon': 'img/map/marker.svg'
        },
      ]
    },
    {
      title: 'Достопримечательности',
      placemarks: [
        {
          'title': 'Apartment Korabli',
          'lat': '59.950796',
          'lng': '30.215006',
          'house': true,
          'icon': 'img/map/marker-main.svg'
        },
        {
          'title': 'Дворцовая площадь',
          'lng': '30.315006',
          'lat': '59.938865',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Исаакиевский собор',
          'lng': '30.306283',
          'lat': '59.934069',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Эрарта',
          'lng': '30.280061',
          'lat': '59.933361',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Севкабель',
          'lng': '30.242215',
          'lat': '59.924488',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Кунсткамера',
          'lng': '30.303903',
          'lat': '59.941240',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Петропавловская крепость',
          'lng': '30.315841',
          'lat': '59.951294',
          'icon': 'img/map/marker.svg'
        },
        {
          'title': 'Мариинский театр',
          'lng': '30.296240',
          'lat': '59.925728',
          'icon': 'img/map/marker.svg'
        }, {
          'title': 'Лахта-центр',
          'lng': '30.177204',
          'lat': '59.987438',
          'icon': 'img/map/marker.svg'
        }, {
          'title': 'Expoforum',
          'lng': '30.357056',
          'lat': '59.763054',
          'icon': 'img/map/marker.svg'
        }]
    }
  ];
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx7epVPgE5H-G4DiGr-tQa89qltkNxHxs"></script>
<script src="js/vendor.js"></script>
<script src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>
