.is-show-gallery {

	.page-column {
		z-index: 1111111111;
	}
}

.page-column {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: rem(84px);
	background-color: $black;
	z-index: 20;
	display: flex;

	@include r($xs-breakpoint) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		width: 100%;
		height: rem(56px);
		display: block;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000000;
		opacity: .5;
		z-index: 2;
		transition: .3s ease-in-out all;
	}

	.page-column__top {
		position: relative;
		z-index: 1;

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	.page-column__inner {
		width: rem(84px);
		z-index: 2;
		height: 100%;
		position: relative;

		@include r($mob) {
			width: 100%;
			height: rem(56px);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
