.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: rem(10px) rem(73px) rem(10px) 0;

	@include r($xs-breakpoint) {
		padding: 0;

		.banner__arrow {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 100;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__left {
		display: flex;
		align-items: center;

		.phone {
			margin-right: rem(50px);
		}

		.btn:not(:last-child) {
			margin-right: rem(31px);
		}
	}

	.footer__center {
		position: absolute;
		top: rem(-20px);
		margin-left: rem(-13px);
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		visibility: hidden;
		transition: .3s all;
	}

	.footer__right {
		display: flex;
		align-items: center;
		padding-bottom: rem(5px);

		@include r($xs-breakpoint) {
			justify-content: space-between;
			right: 16px;
			position: absolute;
			bottom: 0;
			left: 16px;
		}

		.dev {
			margin-left: rem(50px);
		}

		.btn-search {
			margin-right: rem(45px);
		}
	}

	.btn-scrollDown {
		opacity: 0;
		visibility: hidden;
		margin-bottom: 15px;
		margin-right: 10px;

		@include r($xs-breakpoint) {
			margin-right: 0;
			width: 40px;
		}
	}
}

.phone {

	a {
		color: #fff;
		font-size: rem(20px);
		letter-spacing: 0.1em;
		font-weight: 900;
		font-family: $font-title;
	}
}

.dev {

	a {
		font-size: rem(12px);
		text-transform: uppercase;
		color: #BBBBBB;
		font-family: $font-title;
		font-weight: 900;
		letter-spacing: 0.1em;

		&:hover {
			color: #fff;
		}
	}
}
