.show-menu .header {

	@include r($xs-breakpoint) {

		.logo {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	//right: 0;
	z-index: 11;
	padding: rem(25px) 0;
	transition: .3s all;

	@include r($xs-breakpoint) {
		right: 0;
		padding: 17px 0;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 16px;
			right: 16px;
			background-color: #636363;
			height: 1px;
		}
	}

	&__inner {
		display: flex;

		.socials {
			padding-top: rem(9px);
			margin-left: rem(82px);
		}
	}

	.logo {
		transition: .3s all;

		img {
			width: rem(135px);
			@include r($xs-breakpoint) {
				width: rem(268px);
			}
		}
	}
}
