.icon-angle-left {
  width: 0.59em;
  height: 1em;
  fill: #fff;
}
.icon-arrow-down {
  width: 0.36em;
  height: 1em;
  fill: #EFAE05;
}
.icon-arrow-left {
  width: 2.67em;
  height: 1em;
  fill: #EFAE05;
}
.icon-arrow-long-right {
  width: 3.83em;
  height: 1em;
  fill: #1F1F1F;
}
.icon-arrow-long-right2 {
  width: 2.67em;
  height: 1em;
  fill: #fff;
}
.icon-arrow-next {
  width: 0.56em;
  height: 1em;
  fill: #1F1F1F;
}
.icon-arrow-prev {
  width: 0.61em;
  height: 1em;
  fill: #A4A4A4;
}
.icon-camera {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-close {
  width: 1.04em;
  height: 1em;
  fill: #1F1F1F;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-print {
  width: 1em;
  height: 1em;
  fill: #636363;
}
.icon-scale {
  width: 1.15em;
  height: 1em;
  fill: #fff;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-star {
  width: 1.07em;
  height: 1em;
  fill: #fff;
}
